:root {
	--color-bg: #fefefe;
	--color_bg_1: #4c4c7c;
	--color_bg_2: #26263c;
	--color_bg_3: #39395c;
	--color_sep: #eb811b;
}

html, body {
	background-color: #dddddd;
	color: #333;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	font-family: Arial, Roboto, Helvetica, sans-serif;
	align-items: center;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0px 0px 50px;
}

header {
	display: flex;
	background-color: var(--color_bg_1);
	border-bottom: 2px solid var(--color_sep);
	align-items: center;
	padding: 0px 40px;
}

header > * {
	color: #ddd;
	width: 100%;
}

header h1, header h1 a, header h1 a:visited, header h1 a:active {
	color: inherit;
	font-size: 70px;
	text-decoration: none;
}

header #head_main_infos {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 20pt;
}

nav {
	text-align: center;
	display: flex;
	justify-content: center space-around;
	background-color: var(--color_bg_2);
	color: white;
	margin: 0;
	padding: 0 20px;
	border-bottom: 6px solid var(--color_bg_1);
}

nav a {
	padding: 5px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	text-emphasis: bold;
	width: 100%;
}

nav a:hover {
	transition-property: background-color;
	background-color: var(--color_bg_3);
	transition-duration: 0.5s;
}

nav a.current {
	background-color: var(--color_bg_1);
}

main {
	background-color: var(--color-bg);
  justify-content: center;
	text-align: justify;
	padding: 1px 30px 50px;
	max-width: 920px;
	margin: 0 auto 0 auto;
	min-height: calc(100vh - 370px); /* viewport-height - (header+footer+nav bar) */
}

main h2 {
	color: var(--color_bg_2);
	padding-top: 20px;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: left;
	border-bottom: 2px solid var(--color_bg_1);
	border-image-source: linear-gradient(to right, var(--color_bg_1) 0%, transparent 75%);
	border-image-slice: 1;
}

main p {
	font-size: 1rem;
}

main a:link {
	text-decoration: underline;
	color: rgb(62, 62, 255);
}

footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 80px); /* viewport width - padding */
	padding: 10px 40px;
	height: 50px;
	color: white;
	display: flex;
	background-color: var(--color_bg_1);
	border-top: 5px solid var(--color_bg_2);
	align-items: center;
}

footer #sponsors img {
	margin: 0;
	height: 40px;
	margin-right: 20px;
}