:root {
	--color-bg: #fefefe;
	--color_bg_1: #4c4c7c;
	--color_bg_2: #26263c;
	--color_bg_3: #39395c;
	--color_sep: #eb811b;
}

html, body {
	background-color:var(--color_bg_2);
	color: white;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	font-family: Arial, Roboto, Helvetica, sans-serif;
	align-items: center;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0 0 50px;
}

a {
	cursor: pointer;
}

header {
	display: flex;
	background-color: var(--color_bg_1);
	align-items: center;
	padding: 0 40px;
	border: 0;
}

header > * {
	width: 100%;
}

header h1 {
	text-decoration: none;
	font-size: 80px;
}

@media (max-width: 900px) {
	header h1 {
		margin: 10px 0;
	}
}

@media (min-width: 900px) {
	header h1 {
		margin: 10px 0 -35px;
	}
}

div.alternate a {
	background-color: var(--color_bg_1);
	display: flex;
	justify-content: right;
	width: fit-content;
	font-size: 30px;
	padding: 0 20px;
}

div.alternate a:hover {
	background-color: var(--color_bg_2);
}

nav {
	display: flex;
	justify-content: right;
	background-color: var(--color_bg_1);
	margin: 0;
	padding: 0 20px;
	border-bottom: 4px solid var(--color_sep);
	width: calc(100% - 40px);
}

nav img {
	padding: 10px 5px 0;
	height: 30px;
}

nav a {
	font-size: 35px;
	padding: 5px 10px;
	text-decoration: none;
	text-emphasis: bold;
	border-radius: 15px 15px 0 0;
}

nav a:hover {
	transition-property: background-color;
	background-color: var(--color_bg_3);
	transition-duration: 0.5s;
}

nav a.current {
	background-color: var(--color_bg_2);
}

@media (max-width: 600px) {
	header h1 {
		font-size: 50px;
	}

	nav a {
		font-size: 20px;
	}

	nav img {
		padding: 5px 0 0;
		height: 20px;
	}
}

.portrait {
	min-width: 350px
}

.row {
	display: flex;
}

main {
  justify-content: center;
	text-align: justify;
	padding: 1px 30px 50px 30px;
	margin: 0 auto 0 auto;
	min-height: calc(100vh - 370px); /* viewport-height - (header+footer+nav bar) */
}

main h2 {
	padding-top: 20px;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: left;
	border-bottom: 2px solid var(--color_bg_1);
	border-image-source: linear-gradient(to right, var(--color_bg_1) 0%, transparent 75%);
	border-image-slice: 1;
}

main p {
	font-size: 1rem;
}

a:link {
	text-decoration: underline;
	color: var(--color_sep);
}

footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 80px); /* viewport width - padding */
	padding: 10px 40px;
	height: 50px;
	display: flex;
	background-color: var(--color_bg_1);
	border-top: 5px solid var(--color_sep);
	align-items: center;
}

footer p {
	text-align: center;
	width: 100%;
}