// header and footer and navbar styling

header {
	display: flex;
	background-color: $dark_bg_1;
	width: calc(100% - 60px);
	padding: 0 20px 0 40px;
	border: 0;

	@media (max-width: 600px) {
		width: calc(100% - 15px);
		padding: 0 5px 0 10px;
	}

	h1 {
		text-decoration: none;
		font-size: 80px;
		flex: 1;
		width: 100%;

		@media (min-width: 900px) {
			margin: 10px 0 -45px;
		}

		@media (max-width: 900px) {
			margin: 10px 0;
		}
	}

	a {
		color: $dark_fg;
		text-decoration: none;
	}

	// Language and theme color buttons
	.hbuttons {
		justify-content: right;
		display: flex;
		align-items: flex-start;
		font-size: 30px;
		width: 100%;
		flex: 0;

		a {
			padding: 10px;
			border-radius: 0 0 15px 15px;

			&:hover {
				transition-property: background-color;
				transition-duration: 0.5s;
				background-color: $dark_bg_3;
			}
		}

		img {
			height: 25px;
		}
	}
}

// Navigation bar and buttons
nav {
	display: flex;
	align-items: right;
	justify-content: flex-end;
	background-color: $dark_bg_1;
	margin: 0;
	padding: 0 20px;
	border-bottom: 4px solid $dark_sep;
	width: calc(100% - 40px);

	img {
		padding: 10px 5px 0;
		height: 30px;
	}

	a {
		color: $dark_fg;
		font-size: 35px;
		padding: 5px 10px;
		text-decoration: none;
		border-radius: 15px 15px 0 0;

		&:hover {
			transition-property: background-color;
			background-color: $dark_bg_3;
			transition-duration: 0.5s;
		}

		&.current {
			background-color: $dark_bg_2;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 80px); // viewport width - padding
	padding: 10px 40px;
	height: 70px;
	display: flex;
	background-color: $dark_bg_1;
	border-top: 4px solid $dark_sep;
	align-items: center;

	@media (max-width: 600px) {
		font-size: 0.7em;
		padding: 10px 20px;
		width: calc(100% - 40px); // viewport width - padding
	}

	p {
		text-align: center;
		width: 100%;
	}
}

// light-theme color changes
.light-theme {
	header {
		background-color: $light_bg_1;
		a {
			color: $light_fg;
		}

		.hbuttons a:hover {
			background-color: $light_bg_3;
		}
	}

	nav {
		background-color: $light_bg_1;
		border-bottom: 4px solid $light_sep;

		a {
			color: $light_fg;
			&:hover {
				background-color: $light_bg_3;
			}
			&.current {
				background-color: $light_bg_2;
			}
		}
	}

	footer {
		background-color: $light_bg_1;
		border-top: 4px solid $light_sep;
	}
}


@media (max-width: 800px) {
	header h1 {
		font-size: 60px;
	}
	header .hbuttons {
		font-size: 20px;
	}
	.hbuttons img {
		height: 15px;
	}
}

@media (max-width: 600px) {
	header h1 {
		font-size: 40px;
	}
	nav a {
		font-size: 20px;
	}
	nav img {
		padding: 5px 0 0;
		height: 20px;
	}
}
