// Home page specific styling
.row {
	display: flex;
	place-content: center;
	width: 100%;
}

.column {
	width: calc(100% - 60px - 60px);
	margin: 10px 60px;
	padding-top: 20px;
	place-content: center;
}

.links {
	place-content: center;
	display: flex;
	margin: 10px;
}

.portrait {
	padding: 20px 80px;
	min-width: 350px;
	text-align: center;
  .img {
    font-size: 80px;
  }
  img {
    height: 300px;
  }
  .name {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .desc {
    font-size: 1.3em;
    font-weight: 300;
  }
  .school {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }
}


@media (max-width: 1200px) {
	.portrait {
		min-width: 0;
		padding: 20px 10px
	}
	.row {
		flex-direction: column;
	}
	.column {
		margin: 10px 0px;
		width: 100%;
		padding: 0;
	}
}
