---

---
// main style sheet, imports all others

@use "variables.scss" as *;
@use "main.scss";
@use "links.scss";
@use "header_footer.scss";
@use "home.scss";
@use "timeline.scss";
@use "table.scss";
@use "collapsible.scss";
@use "syntax_highlight.scss";


// Misc common elements
.title {
	font-weight: bold;
}
.date {
	font-style: italic;
}
strong {
	font-weight: bold;
}
.filelist li {
	margin-bottom: 30px;
}

dl {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
dl dt {
	grid-column: 1 / span 1;
	justify-self: end;
	text-align: right;
	margin: 5px 10px;
	font-weight: bold;
	align-self: center;
}
dl dd {
	margin: 5px 5px;
	justify-self: start;
	text-align: left;
}

.abstract {
	padding: 0 20px;
	border-left: 2px solid $dark_sep;
	margin-left: 4px;
	@media(max-width: 800px) {
		padding: 0 10px;
	}
}

.paperlist {
	> :not(:last-child) {
		margin-bottom: 20px;
	}
}
