---

---
// main style sheet, imports all others

@use "variables.scss" as *;
@use "main.scss";
@use "links.scss";
@use "header_footer.scss";
@use "home.scss";
@use "timeline.scss";
@use "table.scss";
@use "collapsible.scss";
@use "syntax_highlight.scss";


// Misc common elements
.title {
	font-weight: bold;
}
.date {
	font-style: italic;
}
strong {
	font-weight: bold;
}
.filelist li {
	margin-bottom: 30px;
}
code {
	color: $dark_code;
}
.light-theme code {
	color: $light_code;
}
.sc {
	font-variant: small-caps;
}

.callout {
	display: block;
	font-weight: 400;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: $dark_bg_3;
	border-left: 4px solid $dark_sep;
}

dl {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
dl dt {
	grid-column: 1 / span 1;
	justify-self: end;
	text-align: right;
	margin: 5px 10px;
	font-weight: bold;
	align-self: center;
}
dl dd {
	margin: 5px 5px;
	justify-self: start;
	text-align: left;
}

.abstract {
	padding: 0 20px;
	border-left: 2px solid $dark_sep;
	margin-left: 4px;
	@media(max-width: 800px) {
		padding: 0 10px;
	}
}

.paperlist {
	> :not(:last-child) {
		margin-bottom: 20px;
	}
}

img.transparent {
	filter: invert(100%) hue-rotate(180deg);

	// Center the image
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.light-theme img.transparent {
	filter: none;
}

.caption {
	font-style: italic;
	width: 80%;

	// Centered
	display: block;
	margin-left: auto;
	margin-right: auto;
}
