{%- comment -%}
Navbutton, aka button that appear on the navbar. Parameters:
- url: the page the button points to (relative_url, excluding lang)
- pagename: the name of the including page, use to color the current page if it matches the url
- title: the link title (optional, defaults to link text)
- icon: the link icon (optional)
- text: the link text
{%- endcomment -%}
{%- capture url -%}{{ include.url }}.html{{ page.lang | opt_prepend: '.' }}{%- endcapture -%}
<a class="internal{% if include.pagename == include.url %} current{% endif %}" href="{% include url.txt url=url %}" title="{{ include.title | default: include.text }}"{% if page.lang %} hreflang="{{ page.lang }}"{% endif %}>{% if include.icon %}{% include icon.html icon=include.icon %}{% endif %}{% if include.icon and include.text %}&nbsp;{% endif %}{{ include.text }}</a>
