{%- comment -%}
  Display the given artifact badges. Parameters:
  - badges: list of badges (keys of _data/badges.yml)
  - scale (default:1) the badges scale
{%- endcomment -%}
{%- for badge_id in include.badges -%}
{% assign badge = site.data.badges[badge_id] %}
{% assign scale = include.scale | default: 1 %}
{%- if badge.link %}<a href="{{badge.link}}" class="external">{% endif %}
<img src="{% include url.txt url=badge.image %}"
    alt="{{ badge.title }}" title="{{ badge.title }}"
    {%- if badge.witdh %} width={{ badge.width | times: scale }}{% endif %}
    {%- if badge.height %} height={{ badge.height | times: scale }}{% endif %}/>
{%- if badge.link %}</a>{%- endif -%}
{%- endfor -%}
