{%- comment -%}
List of all publications in this website. Parameters:
- lang: en or fr
{%- endcomment -%}
<div class="paperlist">
{%- for paper in site.data.publications -%}
<div class="content filelist">
  <div>
    <span class="title">{{ paper.title }}</span>
    {%- if paper.short-paper %} &mdash; {% if include.lang == "fr" %}Papier court{% else %}Short paper{% endif %}{% endif %}
    {%- if paper.doi %} &mdash; <a class="external" href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a>{%- endif -%}
  </div>
  <div class="type">
    {% for author_and_affiliation in paper.authors %}
      {% for author_i in author_and_affiliation %}
      {% assign author_id = author_i[0] %}
      {% assign author = site.data.authors[author_id] %}
      {{ author.first-name }} {{ author.last-name }}
      {%- if author.orcid %} <a class="external" href="https://orcid.org/{{ author.orcid }}" title="{{ author.orcid }}">{% include icon.html icon="orcid" %}</a>{% endif %}
      {%- endfor -%}
      {%- unless forloop.last %}, {% endunless -%}
    {% endfor %}
  </div>
  <div class="date"><span title="{{ paper.venue.fullname }}">{{ paper.venue.acronym }} {{ paper.year }}</span></div>
  {%- if paper.artifact-badges -%}
  <div>
    {% include publication_badges.html badges=paper.artifact-badges %}
  </div>
  {%- endif -%}
  <details>
    <summary>{% if include.lang == "fr" %}Résumé{% else %}Abstract{% endif %}</summary>
    <div class="abstract">
      <strong>{% if include.lang == "fr" %}Mots-clés :{% else %}Keywords:{% endif %}</strong> {% for kw in paper.keywords %}{{ kw | lang:include.lang }}{% unless forloop.last %}, {% endunless %}{% endfor %}
      <p>{{ paper.abstract }}</p>
    </div>
  </details>

  {% include publication_links.html paper=paper lang=include.lang nutshell=true %}
</div>
{%- endfor -%}
</div>
