{%- comment -%}
Link to various ressources associated to a publication (PDF, bib, slides, etc...)

Parameters
- lang: en or fr
- paper: the paper info, as given in _data/publications.yml
- nutshell: bool - include link to summary
{%- endcomment -%}
<div class="llinks paper">
  {% if include.nutshell and include.paper.summary %}
  <a class="linkbutton" href="{{ include.paper.summary | relative_url }}">
    <i class="fas fa-lightbulb"></i>
    <b>{% if include.lang == "fr" %}Aperçu{% else %}Overview{% endif %}</b>
  </a>
  {% endif %}

  {% assign path = '/files/publications/' | append: include.paper.slug %}

  {% assign pdf-path = path | append: '.pdf' %}
  {% assign pdf = site.static_files | find: "path", pdf-path %}
  {% if pdf %}
  <a class="linkbutton" href="{{ pdf.path | relative_url }}">
    <i class="fas fa-file-pdf"></i>
    <b>PDF</b>
  </a>
  {% endif %}
  {% assign pdf-appendix-path = path | append: '-with-appendices.pdf' %}
  {% assign pdf-appendix = site.static_files | find: "path", pdf-appendix-path %}
  {% if pdf-appendix %}
  <a class="linkbutton" href="{{ pdf-appendix.path | relative_url }}">
    <i class="fas fa-file-pdf"></i>
    <b>{% if include.lang == "fr" %}PDF avec annexes{% else %}PDF with appendix{% endif %}</b>
  </a>
  {% endif %}
  {% assign bib-path = path | append: '.bib' %}
  {% assign bib = site.static_files | find: "path", bib-path %}
  {% if bib %}
  <a class="linkbutton" href="{{ bib.path | relative_url }}">
    <i class="fas fa-quote-left"></i>
    <b>Bibtex</b>
  </a>
  {% endif %}
  {% if include.paper.artifact %}
  <a class="linkbutton" href="{{ include.paper.artifact }}">
    <i class="fas fa-laptop-code"></i>
    <b>{% if include.lang == "fr" %}Artefact{% else %}Artifact{% endif %}</b>
  </a>
  {% endif %}
  {% if include.paper.talk-video %}
  <a class="linkbutton" href="{{ include.paper.talk-video }}">
    <i class="fas fa-play-circle"></i>
    <b>{% if include.lang == "fr" %}Présentation{% else %}Talk{% endif %}{% if paper.talk-video-length %} ({{ paper.talk-video-length }} min){% endif %}</b>
  </a>
  {% endif %}
  {% assign slides-path = path | append: '-slides.pdf' %}
  {% assign slides = site.static_files | find: "path", slides-path %}
  {% if slides %}
  <a class="linkbutton" href="{{ slides.path | relative_url }}">
    <i class="fas fa-file-powerpoint"></i>
    <b>{% if include.lang == "fr" %}Diapositives{% else %}Slides{% endif %}</b>
  </a>
  {% endif %}
</div>
