{%- comment -%}
List of all publications in this website. Parameters:
{%- endcomment -%}
<div class="paperlist">
{%- for paper in site.data.publications -%}
<div class="content filelist" id="{{ paper.slug }}">
  <div>
    <span class="title">{{ paper.title }}</span>
    {%- if paper.type == "workshop" %} &mdash; {% if page.lang == "fr" %}Papier court{% else %}Workshop paper{% endif %}{% endif %}
    {%- if paper.doi %} &mdash; <a class="external" href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a>{%- endif -%}
  </div>
  <div class="type">
    {% for author_and_affiliation in paper.authors %}
      {% for author_i in author_and_affiliation %}
      {% assign author_id = author_i[0] %}
      {% assign author = site.data.authors[author_id] %}
      {{ author.first-name }} {{ author.last-name }}
      {%- if author.orcid %} <a class="external" href="https://orcid.org/{{ author.orcid }}" title="{{ author.orcid }}">{% include icon.html icon="orcid" %}</a>{% endif %}
      {%- endfor -%}
      {%- unless forloop.last %}, {% endunless -%}
    {% endfor %}
  </div>
  <div class="date"><span title="{{ paper.venue.fullname }}">{{ paper.venue.acronym }} {{ paper.year }}</span>{{ paper.comment | lang:page.lang | opt_prepend: " &mdash; " }}</div>
  {%- if paper.award -%}
  <div><strong>{% include icon.html icon="award" %}
    {%- for award in paper.award %}
    {{ award.name | lang:page.lang }}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  </strong></div>
  {%- endif -%}
  {%- if paper.artifact-badges -%}
  <div>
    {% include publication_badges.html badges=paper.artifact-badges %}
  </div>
  {%- endif -%}
  <details>
    <summary>{% if page.lang == "fr" %}Résumé{% else %}Abstract{% endif %}</summary>
    <div class="abstract">
      <strong>{% if page.lang == "fr" %}Mots-clés :{% else %}Keywords:{% endif %}</strong> {% for kw in paper.keywords %}{{ kw | lang:page.lang }}{% unless forloop.last %}, {% endunless %}{% endfor %}
      <p>{{ paper.abstract | lang:page.lang }}</p>
    </div>
  </details>

  {% include publication_links.html paper=paper nutshell=true %}
</div>
{%- endfor -%}
</div>
