{%- comment -%}
List of all publications in this website. Parameters:
- lang: en or fr
{%- endcomment -%}
<div class="paperlist">
{%- for paper in site.data.publications -%}
<div class="content filelist">
  <div>
    <span class="title">{{ paper.title }}</span>
    {%- if paper.short-paper %} &mdash; {% if include.lang == "fr" %}Papier court{% else %}Short paper{% endif %}{% endif %}
    {%- if paper.doi %} &mdash; <a class="external" href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a>{%- endif -%}
  </div>
  <div class="type">
    {% for author_id in paper.authors %}
      {% assign author = site.data.authors[author_id] %}
      {{ author.first-name }} {{ author.last-name }}
      {%- if author.orcid %} <a class="external" href="https://orcid.org/{{ author.orcid }}" title="{{ author.orcid }}"><i class="fab fa-orcid"></i></a>{% endif %}
      {%- unless forloop.last %}, {% endunless -%}
    {% endfor %}
  </div>
  <div class="date"><span title="{{ paper.venue }}">{{ paper.venue-acronym }} {{ paper.year }}</span></div>
  {%- if paper.artifact-badges -%}
  <div>
    {% for badge_id in paper.artifact-badges %}
      {% assign badge = site.data.badges[badge_id] %}
      {% if badge.link %}<a href="{{badge.link}}" class="external">{% endif %}
      <img src="{{ badge.image | relative_url }}"
           alt="{{ badge.title }}" title="{{ badge.title }}"
           {% if badge.witdh %}width={{ badge.width }}{% endif %}
           {% if badge.height %}height={{ badge.height }}{% endif %}/>
      {% if badge.link %}</a>{% endif %}
    {% endfor %}
  </div>
  {%- endif -%}
  <details>
    <summary>{% if include.lang == "fr" %}Résumé{% else %}Abstract{% endif %}</summary>
    <div class="abstract">
      <strong>{% if include.lang == "fr" %}Mots-clés :{% else %}Keywords: {% endif %}</strong> {{ paper.keywords | join:", " }}
      <p>{{ paper.abstract }}</p>
    </div>
  </details>


  <div class="llinks paper">
    {% if paper.summary %}
    <a class="linkbutton" href="{{ paper.summary | relative_url }}">
      <i class="fas fa-lightbulb"></i>
      <b>{% if include.lang == "fr" %}Aperçu{% else %}In a nutshell{% endif %}</b>
    </a>
    {% endif %}

    {% assign path = '/files/publications/' | append: paper.slug %}

    {% assign pdf-path = path | append: '.pdf' %}
    {% assign pdf = site.static_files | where: "path", pdf-path | first %}
    {% if pdf %}
    <a class="linkbutton" href="{{ pdf.path | relative_url }}">
      <i class="fas fa-file-pdf"></i>
      <b>PDF</b>
    </a>
    {% endif %}
    {% assign pdf-appendix-path = path | append: '-with-appendices.pdf' %}
    {% assign pdf-appendix = site.static_files | where: "path", pdf-appendix-path | first %}
    {% if pdf-appendix %}
    <a class="linkbutton" href="{{ pdf-appendix.path | relative_url }}">
      <i class="fas fa-file-pdf"></i>
      <b>{% if include.lang == "fr" %}PDF avec annexes{% else %}PDF with appendix{% endif %}</b>
    </a>
    {% endif %}
    {% assign bib-path = path | append: '.bib' %}
    {% assign bib = site.static_files | where: "path", bib-path | first %}
    {% if bib %}
    <a class="linkbutton" href="{{ bib.path | relative_url }}">
      <i class="fas fa-quote-left"></i>
      <b>Bibtex</b>
    </a>
    {% endif %}
    {% if paper.artifact %}
    <a class="linkbutton" href="{{ paper.artifact }}">
      <i class="fas fa-laptop-code"></i>
      <b>{% if include.lang == "fr" %}Artefact{% else %}Artifact{% endif %}</b>
    </a>
    {% endif %}
    {% if paper.talk-video %}
    <a class="linkbutton" href="{{ paper.talk-video }}">
      <i class="fas fa-play-circle"></i>
      <b>{% if include.lang == "fr" %}Présentation{% else %}Talk{% endif %}{% if paper.talk-video-length %} ({{ paper.talk-video-length }} min){% endif %}</b>
    </a>
    {% endif %}
    {% assign slides-path = path | append: '-slides.pdf' %}
    {% assign slides = site.static_files | where: "path", slides-path | first %}
    {% if slides %}
    <a class="linkbutton" href="{{ slides.path | relative_url }}">
      <i class="fas fa-file-powerpoint"></i>
      <b>{% if include.lang == "fr" %}Diapositives{% else %}Slides{% endif %}</b>
    </a>
    {% endif %}
  </div>
</div>
{%- endfor -%}
</div>
