---
layout: base
---
{%- assign lang = page.lang | default: site.lang -%}
{%- assign slug = page.name | strip_extension  -%}
{%- assign paper = site.data.publications | find: "slug", slug -%}

{% if paper %}
  <div>
  <h1 style="float: left;">{{ paper.title }}</h1>

    {%- if paper.artifact-badges -%}
      <span style="float: right;">
      {% for badge_id in paper.artifact-badges %}
        {% assign badge = site.data.badges[badge_id] %}
        {% if badge.link %}<a href="{{badge.link}}" class="external">{% endif %}
        <img src="{{ badge.image | relative_url }}"
            alt="{{ badge.title }}" title="{{ badge.title }}"
            {% if badge.witdh %}width={{ badge.width | times: 2 }}{% endif %}
            {% if badge.height %}height={{ badge.height | times: 2 }}{% endif %}/>
        {% if badge.link %}</a>{% endif %}
      {% endfor %}
      </span>
    {%- endif -%}
  </div>

  <div style="clear: both;">
    <strong>{{ paper.year }}-{{ paper.month }}</strong> &mdash; {{ paper.venue }} ({{ paper.venue-acronym }})
    {% if paper.doi %}&mdash; <a class="external" href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a> {% endif %}
  </div>

  {% for author_id in paper.authors %}
    {% assign author = site.data.authors[author_id] %}
    <div>
    {{ author.first-name }} {{ author.last-name }}
    {%- if author.orcid %} <a class="external" href="https://orcid.org/{{ author.orcid }}" title="{{ author.orcid }}"><i class="fab fa-orcid"></i></a>{% endif %}
    </div>
  {% endfor %}

  {%- include publication_links.html paper=paper lang=lang nutshell=false -%}
  {% comment %}
  {%- include paper_artifacts.html paper=paper -%}

  {% if paper.topics %}
    <div style="margin-top: 10px;">
      <b>Topics:</b>
      {% for a in paper.topics %}
      {{ a }}{% if forloop.last %}.{% else %}; {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% endcomment %}
{% endif %}

{{ content }}
