---
layout: base
---
{% assign lang = page.lang | default: site.lang %}
{% assign slug = page.name | strip_extension  %}
{% assign paper = site.data.publications | find: "slug", slug %}

{%- if paper -%}
  <div>
  <h1 style="float: left;">{{ paper.title }}</h1>
    {%- if paper.artifact-badges -%}
      <span style="float: right;">
        {% include publication_badges.html scale=2 badges=paper.artifact-badges %}
      </span>
    {%- endif -%}
  </div>

  <div style="clear: both;">
    <strong>{{ paper.year }}-{{ paper.month }}</strong> &mdash; {{ paper.venue.fullname }} ({{ paper.venue.acronym }})
    {% if paper.doi %}&mdash; <a class="external" href="https://dx.doi.org/{{ paper.doi }}">{{ paper.doi }}</a> {% endif %}
  </div>

  {%- for aut in paper.authors -%}
    <div>
      {%- for author_and_affiliation in aut -%}
      {%- assign author = author_and_affiliation[0] -%}
      {%- assign author = site.data.authors[author] -%}
      {{ author.first-name }} <span class="sc">{{ author.last-name }}</span>
      {%- if author.orcid %} <a class="external" href="https://orcid.org/{{ author.orcid }}" title="{{ author.orcid }}">{% include icon.html icon="orcid" %}</a>{%- endif -%}
      &mdash;
      <i>{%- if author_and_affiliation[1].first -%}
        {%- if lang == "en" -%}
          {{ author_and_affiliation[1] | array_to_sentence: 'and', '; ' }}
        {%- else -%}
          {{ author_and_affiliation[1] | array_to_sentence: 'et', ' ; ' }}
        {%- endif -%}
      {%- else -%}
        {{ author_and_affiliation[1] }}
      {%- endif -%}</i>
      {%- endfor -%}
    </div>
  {%- endfor -%}

  {%- include publication_links.html paper=paper lang=lang nutshell=false -%}

  <div style="margin-top: 10px;">
    <strong>{% if lang == "fr" %}Mots-clés :{% else %}Keywords:{% endif %}</strong> {% for kw in paper.keywords %}{{ kw | lang:lang }}{% unless forloop.last %}, {% endunless %}{% endfor %}
  </div>

  <details open>
    <summary>{% if lang == "fr" %}Résumé{% else %}Abstract{% endif %}</summary>
    <div class="abstract">
      <p>{{ paper.abstract | lang:lang }}</p>
    </div>
  </details>
{% else %}
  {{ "Paper not found in _data/publications.yml: " | append: slug | error }}
{% endif %}

{{ content }}
