{%- assign listings = page.url | has_suffix:"/header.html" %}
{%- assign crumbs = page.url | strip_suffix:'/header.html' | strip_suffix:'/index.html' | strip_suffix:'/index.html.fr' | strip_suffix:'/index.html.en' | split: '/' | shift %}
{%- if crumbs != empty %}
<nav id="breadcrumbs">
  {%- if page.lang %}
    {% assign index = "/index.html." | append: page.lang %}
  {% else %}
    {% assign index = "/index.html" %}
  {% endif -%}
  {%- assign baseurl = '' -%}
<a href="{% include url.txt url=index %}">{% unless listings %}{% include icon.html icon='house' %} {% endunless %}{% if page.lang == "fr" %}Acceuil{% else %}Home{% endif %}</a>
{% if listings %}
  {% assign index = "/header.html" %}
{% endif %}

{%- for crumb in crumbs -%}
  {%- if forloop.last -%}
    <span>{{ page.short-title | default: page.title }}</span>
  {%- else -%}
    {%- assign baseurl = baseurl | append:'/' | append: crumb -%}
    {%- assign url = baseurl | append: index -%}
    {%- assign parent = site.pages | find: 'url', url -%}
    {%- if parent -%}
      <a href="{% include url.txt url=url %}">{{ parent.short-title | default: parent.title }}</a>
    {%- else -%}
      {{ "Could not find parent breadcrumb '" | append: url | append: "'" | error }}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</nav>
{%- endif %}
