{%- comment -%}
Link to various ressources associated to a publication (PDF, bib, slides, etc...)

Parameters
- paper: the paper info, as given in _data/publications.yml
- nutshell: bool - include link to summary (true on research page, false on paper page)
{%- endcomment -%}
<div class="llinks paper">
  {% assign nutshell-path = "/research/" | append: include.paper.slug | append: '.html.' | append: page.lang %}
  {% assign nutshell = site.pages | find: "url", nutshell-path %}
  {% if include.nutshell and nutshell %}
  <a class="linkbutton" href="{% include url.txt url=nutshell.url %}">
    {% include icon.html icon="lightbulb" %}
    <b>{% if page.lang == "fr" %}Aperçu{% else %}Overview{% endif %}</b>
  </a>
  {% endif %}

  {% assign path = '/files/publications/' | append: include.paper.slug %}

  {% assign pdf-path = path | append: '.pdf' %}
  {% assign pdf = site.static_files | find: "path", pdf-path %}
  {% if pdf %}
  <a class="linkbutton" href="{% include url.txt url=pdf.path %}" title="PDF - {{ pdf-path | file_size | pretty_size }}">
    {% include icon.html icon="pdf" %}
    <b>PDF</b>
  </a>
  {% endif %}
  {% assign pdf-appendix-path = path | append: '-with-appendices.pdf' %}
  {% assign pdf-appendix = site.static_files | find: "path", pdf-appendix-path %}
  {% if pdf-appendix %}
  <a class="linkbutton" href="{% include url.txt url=pdf-appendix.path %}" title="PDF - {{ pdf-appendix-path | file_size | pretty_size }}">
    {% include icon.html icon="pdf" %}
    <b>{% if page.lang == "fr" %}PDF avec annexes{% else %}PDF with appendix{% endif %}</b>
  </a>
  {% endif %}
  {% assign bib-path = path | append: '.bib' %}
  {% assign bib = site.static_files | find: "path", bib-path %}
  {% if bib %}
  <a class="linkbutton" href="{% include url.txt url=bib.path %}" title="BIB - {{ bib-path | file_size | pretty_size }}">
    {% include icon.html icon="quote" %}
    <b>Bibtex</b>
  </a>
  {% endif %}
  {% if include.paper.artifact %}
  <a class="linkbutton" href="{{ include.paper.artifact }}">
    {% include icon.html icon="laptop" %}
    <b>{% if page.lang == "fr" %}Artefact{% else %}Artifact{% endif %}</b>
  </a>
  {% endif %}
  {% if include.paper.talk-video %}
  <a class="linkbutton" href="{{ include.paper.talk-video }}">
    {% include icon.html icon="video" %}
    <b>{% if page.lang == "fr" %}Présentation{% else %}Talk{% endif %}{% if paper.talk-video-length %} ({{ paper.talk-video-length }} min){% endif %}</b>
  </a>
  {% endif %}
  {% assign slides-path = path | append: '-slides.pdf' %}
  {% assign slides = site.static_files | find: "path", slides-path %}
  {% if slides %}
  <a class="linkbutton" href="{% include url.txt url=slides.path %}" title="PDF - {{ slides-path | file_size | pretty_size }}">
    {% include icon.html icon="powerpoint" %}
    <b>{% if page.lang == "fr" %}Diapositives{% else %}Slides{% endif %}</b>
  </a>
  {% endif %}
</div>
