{% def lang(fr, en) {% if {% LANG %} == FR %}fr{% else %}en{% endif %} %}
{% def lang {% lang fr en %} %}
{% def langurl(slug) slug.{% lang %} %}
{% def alt {% name %}.{% lang en fr %} %}

{% def report "\"{% lang Rapport "Report (fr)" %}\"" %}
{% def slides "\"{% lang Diapositives "Slides (fr)" %}\"" %}
{% def slides_en "\"{% lang "Diapositives (en)" "Slides" %}\"" %}

{% def dbutton(url, name, type, size, lang)
<a href="url" class="downloadbutton" hreflang="lang" download>
	<div class="icon"><i class="far fa-file-pdf"></i></div>
	<div class="value">
		<div class="info">name</div>
		<div class="details">type &mdash; size</div>
	</div>
</a> %}

{% def CV
{% if {% LANG %} == FR %}
{% dbutton "files/CV_Dorian_Lesbre_fr.pdf" "CV (fr)" PDF "240 ko" fr %}
{% dbutton "files/CV_Dorian_Lesbre_en.pdf" "CV (en)" PDF "240 ko" en %}
{% else %}
{% dbutton "files/CV_Dorian_Lesbre_en.pdf" "Résumé (en)" PDF "240 ko" en %}
{% dbutton "files/CV_Dorian_Lesbre_fr.pdf" "Résumé (fr)" PDF "240 ko" fr %}
{% endif %} %}
{% include formatter.html %}

<!doctype html>
<html lang="{% lang %}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="{% URL %}/">
		<title>Dorian Lesbre</title>
		{% def desc {% lang "Site personnel de Dorian Lesbre" "Dorian Lesbre's personal website" %} %}
		<meta name="description" content="{% desc %}">
		<meta name="keywords" content="Lesbre Dorian dlesbre dorianlesbre">
		<meta name="author" content="Dorian Lesbre">
		<meta name="copyright" content="Dorian Lesbre">
		<meta name="language" content="{% lang %}">

		<!-- Facebook tags -->
		<meta name="og:title" content="Dorian Lesbre">
		<meta name="og:type" content="website">
		<meta name="og:url" content="{% URL %}/{% langurl {% name %} %}">
		<meta name="og:image" content="{% URL %}/imgs/icon.png">
		<meta name="og:description" content="{% desc %}">
		<meta name="og:locale" content="{% lang %}">

		<!-- Links -->
		<link rel="canonical" type="text/html" href="{% URL %}/{% name %}" hreflang="{% lang %}">
		<link rel="alternate" type="text/html" href="{% URL %}/{% name %}.fr" hreflang="fr">
		<link rel="alternate" type="text/html" href="{% URL %}/{% name %}.en" hreflang="en">

		<link rel="icon" type="image/png" href="favicon.ico"/>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome-all.min.css">

		<script src="js/script.js"></script>
	</head>
	<body>
		<header>
			<h1><a class="internal" href="{% langurl index.html %}">Dorian Lesbre</a></h1>
			<div class="hbuttons">
				<a class="alternate" title="{% lang 'English version' 'Version française' %}" href="{% alt %}" hreflang="{% lang en fr %}">
					<img src="{% lang 'imgs/UK_flag.svg' 'imgs/FR_flag.svg' %}" alt="{% lang EN FR %}">
				</a>
				<a class="themetoggle" onclick="toggle_theme();" title="{% lang 'Thème clair/sombre' 'Dark/light theme' %}"><i class="fas fa-palette"></i></a>
			</div>
		</header>

		<nav>
			{% def navbutton(link_title, url, text)
				{% call if url == {% name %} %}
					<a class="internal current" href="{% langurl url %}" title="link_title" hreflang="{% lang %}">text</a>
				{% call else %}
					<a class="internal" href="{% langurl url %}" title="link_title" hreflang="{% lang %}">text</a>
				{% call endif %}
			 %}
			{% if {% LANG %} == FR %}
				{% navbutton Acceuil index.html '<i class="fas fa-home"></i>' %}
				{% navbutton CV cv.html CV %}
				{% navbutton Fichiers fichiers.html Fichiers %}
			{% elif {% LANG %} == EN %}
				{% navbutton Home index.html '<i class="fas fa-home"></i>' %}
				{% navbutton Résumé cv.html Résumé %}
				{% navbutton Files fichiers.html Files %}
			{% endif %}
		</nav>

		<main>
			{% label main %}
		</main>
		{% def copydate 2022 %}
		<footer>
			{% if {% LANG %} == FR %}
				<p>Fait à la main. Code&nbsp;sur&nbsp;<a class="link external" href="https://github.com/Lesbre/website/" hreflang="en">github</a>.<br>
				&copy; {% copydate %} Dorian Lesbre</p>
				<p>Dernière mise à jour : {% date %}</p>
			{% elif {% LANG %} == EN %}
				<p>Handcoded. Source&nbsp;on&nbsp;<a class="link external" href="https://github.com/Lesbre/website/" hreflang="en">github</a>.<br>
				&copy; {% copydate %} Dorian Lesbre</p>
				<p>Last updated : {% date %}</p>
			{% endif %}
		</footer>
	</body>
</html>
