{% include defs.html %}
{% def name cv.html %}
{% def title CV %}

{% include base.html %}

{% atlabel main %}

<div class="links">{% CV %}</div>

{% h2 '<i class="fa fa-user-tie"></i>'
	"Stages et expérience professionelle"
	"Internships and professional experience" %}

<div class="timeline content">

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Stage de recherche : vérification de programmes concurrents à l'aide d'IRIS"
			"Research internship: verifying concurrent programs with IRIS" %}</div>
		<div class="place">
			<a class="link" href="https://cs.au.dk/research/logic-and-semantics" hreflang="en">
				{% lang "Équipe logique et sémantique, Département d'informatique, Université d'Aarhus, Danemark"
				"Logic and semantics team, Department of computer science, Aarhus university, Denmark" %}
			</a>
		</div>
		<div class="date">{% lang "Octobre 2022 &mdash; Mars 2023" "October 2022 &mdash; March 2023" %}</div>
		<div class="desc">{% lang
			'Encadré par Lars Birkedal.<br>
			J’ai défini et étudier une notion de raffinement contextuel de programmes pour une
			machine à capabilités simple
			(<a href="https://cs.au.dk/~birke/papers/cerise.pdf" hreflang="en">Cerise</a>).
			Le tout à été formalisé en Coq, en utilisant <a href="https://iris-project.org/" hreflang="en">IRIS</a>.'
			'Supervised by Lars Birkedal.<br>
			I defined and studied a notion of program contextual refinement for a simple
			capability machine (<a href="https://cs.au.dk/~birke/papers/cerise.pdf" hreflang="en">Cerise</a>).
			This work was formalized in Coq using <a href="https://iris-project.org/">IRIS</a>.' %}
			<div class="llinks">
				{% dbutton "files/Internship_Report_Logsem.pdf" {% report_en %} PDF "404 ko" en %}
				{% dbutton "files/Slides_Logsem.pdf" {% slides_en %} PDF "254 ko" en %}
			</div>
		</div></div>
	</div>

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Stage de recherche : vérification de non-interférences des tâches dans un noyau d’OS"
			"Research internship: verifying non-interference between tasks in an OS kernel " %}</div>
		<div class="place">
			<a class="link" href="https://binsec.github.io/" hreflang="en">{% lang "Équipe BINSEC" "BINSEC Team" %}, CEA List, Paris-Saclay, France</a>
		</div>
		<div class="date">{% lang "Mars &mdash; Août 2022" "March &mdash; August 2022" %}</div>
		<div class="desc">{% lang
			"Encadré par Matthieu Lemerre.<br>
			Par interprétation abstraite sur des noyaux de systèmes d’exploitations, je cherche à montrer
			des propriétés de non-interference entre les tâches. Notamment que les données sont préservée
			et bien restituées lors d’interruptions systèmes."
			"Supervised by Matthieu Lemerre.<br>
			Using binary-level abstract interpretation on OS kernels, I’m trying to show non-interference
			properties on tasks. Namely that their data is preserved and restored through system interrupts.." %}
		</div></div>
	</div>

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Stage de recherche : conception d’un processeur sécurisé pour l’IoT"
			"Research internship: designing a secure processor for IoT" %}</div>
		<div class="place">
			<a class="link" href="https://octopi.chalmers.se/" hreflang="en">Octopi {% lang projet project %}, Chalmers, {% lang Suède Sweden %}</a>
		</div>
		<div class="date">{% lang "Février &mdash; Août 2021" "February &mdash; August 2021" %}</div>
		<div class="desc">{% lang
			"Encadré par Carl Seger.<br>
			Avec l’équipe Céphalopode, conception d’un processeur pour internet des objets visant à permettre
			l’exécution efficace de languages fonctionnels (avec garbage collection automatisé) et supportant l’arithmétique
			sur des entiers de taille arbitraire en hardware."
			"Supervised by Carl Seger.<br>
			As part of the Cephalopode team, design a processor for the internet of thing (IoT) aiming to allow
			efficient execution of functional langages (with garbage collection) and supporting multi-precision arithmetic
			in hardware." %}
			<div class="llinks">
				{% dbutton "files/Diapos_Stage_Octopi.pdf" {% slides_en %} PDF "496 ko" en %}
			</div>
		</div></div>
	</div>

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Stage de recherche : conception et implémentation d’un bootloader sécurisé"
			"Research internship: design and implementation of a secure bootloaders" %}</div>
		<div class="place">
			<a class="link" href="https://www.provenrun.com/" hreflang="en">Prove & Run, Paris</a>
		</div>
		<div class="date">{% lang "Mars &mdash; Juillet 2020" "March &mdash; July 2020" %}</div>
		<div class="desc">{% lang
			"Encadré par Patrice Hameau.<br>
			Conception et implementation d’un bootloader sécurisé (vérifiant l’intégrité de l’OS
			avant de la lancer et capable de le mettre à jour à partir de fournisseur authentifiés)"
			"Supervised by Patrice Hameau.<br>
			Designed and implemented a secure bootloader, checking the kernel’s integrity and signature
			before booting it, and supporting kernel updates from verified sources." %}
			<div class="llinks">
				{% dbutton "files/Rapport_Stage_ProveNRun.pdf" {% report %} PDF "612 ko" fr %}
				{% dbutton "files/Diapos_Stage_ProveNRun.pdf" {% slides %} PDF "448 ko" fr %}
			</div>
		</div></div>
	</div>

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Stage de recherche : algorithmes de résolution efficace de systèmes linéaires"
			"Research internship: efficient algorithms to solve linear modular systems" %}</div>
		<div class="place">
			<a class="link" href="{% lang
				'https://www.lirmm.fr/recherche/equipes/eco'
				'https://www.lirmm.fr/lirmm_eng/research/teams/eco' %}" hreflang="{% lang %}">Équipe ECO, LIRMM, Montpellier</a>
		</div>
		<div class="date">{% lang "Juin &mdash; Août 2019" "June &mdash; August 2019" %}</div>
		<div class="desc">{% lang
			"Encadré par Pascal Giorgi et Romain Lebreton.<br>
			Étude de la résolution de système d’équations linéaires à coefficients
			entiers ou polynomiaux, notamment d’algorithmes de résolution modulaire qui permettent de gagner en complexité
			lors de la résolution."
			"Supervised by Pascal Giorgi and Romain Lebreton.<br>
			Studied the resolution of linear systems with integer or polynomial coefficients,
			focusing on modular resolution algorithms which allow a small complexity gain in resolution." %}
			<div class="llinks">
				{% dbutton "files/Rapport_Stage_LIRMM.pdf" {% report %} PDF "424 ko" fr %}
				{% dbutton "files/Diapos_Stage_LIRMM.pdf" {% slides %} PDF "371 ko" fr %}
			</div>
		</div>
	</div></div>

	<div class="container"><div class="box">
		<div class="title">{% lang
			"Interrogateur oral en mathématiques au niveau prépa MPSI"
			"Oral mathematics interrogator in preparatory school" %}</div>
		<div class="place"><a class="link" href="https://www.bginette.com/" hreflang="fr">Lycée Ste Geneviève, Versailles</a></div>
		<div class="date">Septembre 2018 &mdash; Juin 2019</div>
	</div></div>
</div>

{% h2 '<i class="fas fa-user-graduate"></i>' "Parcours scolaire" "Education" %}

<div class="timeline content">
	<div class="container"><div class="box">
		<div class="title">École normale supérieure Paris - {% lang
			"Licence et master d’informatique"
			"Bachelors and masters in computer science" %}</div>
		<div class="place"><a class="link" href="{% lang
			'https://www.ens.psl.eu'
			'https://www.ens.psl.eu/en' %}" hreflang="{% lang %}">École normale supérieure, Paris</a></div>
		<div class="date">2018 &mdash; 2023</div>
		<dl>
			<dt>2022-2023</dt><dd>{% lang "4ème année - stages" "4th year - internships" %}</dd>
			<dt>2021-2022</dt><dd>{% lang "Deuxième année de master" "2nd year of master’s degree" %} <a href="https://wikimpri.dptinfo.ens-cachan.fr/doku.php" hreflang="en">MPRI</a></dd>
			<dt>2020-2021</dt><dd>{% lang "Césure - Licence de mathématiques" "Off year - bachelors in mathematics" %}</dd>
			<dt>2019-2020</dt><dd>{% lang "Première année de master d’informatique" "1rst year of masters’ degree" %}</dd>
			<dt>2018-2019</dt><dd>{% lang "Licence d’informatique avec mention très bien" "Bachelors’ degree in computer science with highest honors" %}</dd>
		</dl>
	</div></div>

	<div class="container"><div class="box">
		<div class="title">{% lang "Classe préparatoire MPSI - MPI" "Preparatory school MPSI - MPI" %}</div>
		<div class="place"><a class="link" href="https://www.bginette.com/" hreflang="fr">Lycée Ste Geneviève, Versailles</a></div>
		<div class="date">2016 &mdash; 2018</div>
		<div class="desc">
			{% lang "Réussi le concours d’entrée de l’ENS Ulm et de l’école polytechnique"
			"Passed the ENS’s and Polytechnique’s entrance exams" %}
			(<a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000037548588" hreflang="fr">{% lang "voir certificat" "see certificate" %}</a>)
		</div>
	</div></div>

	<div class="container"><div class="box">
		<div class="title">{% lang "Lycée général scientifique spé maths" "Scientific general french high school" %}</div>
		<div class="place"><a class="link" href="https://www.caousou.com/" hreflang="fr">Lycée le Caousou, Toulouse</a></div>
		<div class="date">2014 &mdash; 2016</div>
	</div></div>

	<div class="container"><div class="box">
		<div class="title">{% lang "Collège lycée option internationale américaine (OIB)" "High school with american international option (OIB)" %}</div>
		<div class="place"><a class="link" href="https://www.saintvincent-rennes.org/" hreflang="fr">Lycée Saint Vincent, Rennes</a></div>
		<div class="date">2009 &mdash; 2014</div>
	</div></div>
</div>

{% h2 '<i class="fa fa-globe"></i>' Langues Languages %}

<div class="content">
	<div class="grid">
		<div class="item"><img src="imgs/FR_flag.svg" alt="FR"><br><strong>{% lang Français French %}</strong><br>C2</div>
		<div class="item"><img src="imgs/UK_flag.svg" alt="UK"><br><strong>{% lang Anglais English %}</strong><br>C2</div>
		<div class="item"><img src="imgs/DE_flag.svg" alt="DE"><br><strong>{% lang Allemand German %}</strong><br>A2 - B1</div>
	</div>
	<ul>
		<li>{% lang "Vécu trois ans à Londres de 2006 à 2009, dont une année à l’école anglaise."
			"Lived in London for three years (2006 - 2009), including one in an english school." %}</li>
		<li>{% lang "Obtenu le Cambridge Certificate of Proficiency in English (CPE) validant le niveau C2."
			"Obtained the Cambridge Certificate of Proficiency in English (CPE)" %}</li>
		<li>{% lang "Deux séjours linguistiques de 15 jour en Allemagne: à Iéna en 2011 et à Mannheim en 2014."
			"Participated in two linguistic exchanges in Germany in Iéna (2011) and in Mannheim (2014)." %}</li>
	</ul>
</div>

{% h2 '<i class="fas fa-laptop-code"></i>' "Compétences informatiques" "Computer skills" %}

<div class="content">
	<dl>
	<dt>{% lang Avancées Advanced %}</dt><dd>Python, OCaml, C, C++, GNU Make, Linux, Django, Coq, Voss II.</dd>
	<dt>{% lang Bonnes Good %}</dt><dd>LaTeX, beamer, HTML, CSS, LibreOffice, Windows, Git, Bash, SQL, GIMP, Inkscape, Verilog, Docker, CMake.</dd>
	<dt>{% lang Basiques Basic %}</dt><dd>Rust, Javascript, {% lang "assembleur x86" "x86 assembly" %}, Blender, Adobe Premiere {% lang et and %} After Effects.</dd>
	</dl>

	<p>
		{% lang
			'La page <a class="link" href="{% langurl logiciels.html %}">logiciels</a> présente brièvement
			 mes différents projets informatiques. La plupart sont également accesible sur '
			'The <a class="link" href="{% langurl logiciels.html %}">software</a> page briefly presents
			 my various programming projects. Most of them are also accessible on '
		%}
		<a class="link external" href="https://github.com/dlesbre">github</a>
	</p>
</div>

{% h2 '<i class="fas fa-coffee"></i>' "Autres expériences et loisirs" "Other accomplishments and hobbies" %}

<dl class="content">
	<dt>{% lang Événementiel "Event oganizer" %}</dt><dd>{% lang
		"Organisation du Gala de l’ENS pour 1000 personnes en 2019.<br>
		Organisation d’un voyage au ski d’une semaine pour 180 personnes en 2017."
		"Organizer of the ENS’ gala in 2019 for 1000 participants.<br>
		Chief organizer for a 180 person school ski week in 2017." %}</dd>
	<dt>Sport</dt><dd>{% lang
		"Principalement des sports d’extérieur : athlétisme, randonnée, voile (permis côtier), escalade, ski."
		"Mostly exterior sports: jogging, hiking, sailing (has the french coastal license), rock climbing, skiing." %}</dd>
	<dt>{% lang Musique Music %}</dt><dd>{% lang
		'Joue du saxophone depuis 2008, membre de l’<a class="link external" href="https://ernestophone.ens.fr/" hreflang="fr">ernestophone</a>, la fanfare de l’ENS.'
		'Plays saxophone since 2008, member of the ENS’ brass band : l’<a class="link external" href="https://ernestophone.ens.fr/" hreflang="fr">ernestophone</a>.' %}</dd>
</dl>


{% endatlabel %}
