{% def lang(fr, en) {% if {% LANG %} == FR %}fr{% else %}en{% endif %} %}
{% def lang {% lang fr en %} %}
{% def langurl(slug) slug.{% lang %} %}

{% def at [{% lang arobase at %}] %}
{% def email dorian.lesbre{% at %}gmail.com %}

{% def report "\"{% lang Rapport "Report (fr)" %}\"" %}
{% def report_en "\"{% lang "Rapport (en)" "Report" %}\"" %}
{% def slides "\"{% lang Diapositives "Slides (fr)" %}\"" %}
{% def slides_en "\"{% lang "Diapositives (en)" "Slides" %}\"" %}

{% def fancybutton(symbol, url, name, info, attrs)
<a href="url" class="downloadbutton"attrs>
	<div class="icon">symbol</div>
	<div class="value">
		<div class="info">name</div>
		<div class="details">info</div>
	</div>
</a> %}

{% def fancybutton(symbol, url, name, attrs)
	<a href="url" class="downloadbutton"attrs>
		<div class="icon">symbol</div>
		<div class="value">
			<div class="info">name</div>
		</div>
	</a> %}

{% def downloadbutton(url, name, type, size, lang)
	{% fancybutton
		  '<i class="far fa-file-pdf"></i>'
			'url' 'name' 'type &mdash; size' ' hreflang="lang" download' %}
%}

{% def dbutton(url, name, type, lang)
	{% downloadbutton 'url' 'name' 'type' '{% call call fileprettysize www/url %}' 'lang' %}
%}

{% def linkbutton(url, text, lang)
	<a class="linkbutton" href="url" hreflang="lang">text</a>
%}

{% def h(h, icon, fr, en)
<h class="collapsible" title="{% lang 'Afficher/Masquer' 'Show/Hide' %}">
	icon {% lang fr en %}
</h>
%}

{% def h2(icon, fr, en) {% h h2 icon fr en %} %}
{% def h3(icon, fr, en) {% h h3 icon fr en %} %}

{% def CV
{% if {% LANG %} == FR %}
{% dbutton "files/CV_Dorian_Lesbre_fr.pdf" "CV (fr)" PDF fr %}
{% dbutton "files/CV_Dorian_Lesbre_en.pdf" "CV (en)" PDF en %}
{% else %}
{% dbutton "files/CV_Dorian_Lesbre_en.pdf" "Résumé (en)" PDF en %}
{% dbutton "files/CV_Dorian_Lesbre_fr.pdf" "Résumé (fr)" PDF fr %}
{% endif %} %}
