{% include defs.html %}
{% def name fichiers.html %}
{% def title {% lang Fichiers Files %} %}

{% include base.html %}

{% atlabel main %}

{% h2 '<i class="fas fa-coffee"></i>' "Recherche non-publiée" "Unpublished works" %}
<ul class="content">
	<li>{% lang
		"<strong>Développement d’une ALU multiprécision (en)</strong>, juillet 2021, stage de césure à Chalmers (Suède) avec Carl Seger."
		"<strong>Developing a multiprécision ALU</strong>, july 2021, off-year internship at Chalmers (Sweden) with Carl Seger." %}
		<div class="llinks">
			{% dbutton "files/Diapos_Stage_Octopi.pdf" {% slides_en %} PDF "496 ko" fr %}
		</div>
	</li>
	<li>{% lang
		"<strong>Développement d’une chaîne de boot sécurisée</strong>, juillet 2020, rapport de stage, 1ère année de master, à Paris (France) avec Patrice Hameau."
		"<strong>Secure bootloader development (fr)</strong>, July 2020, internship report, master’s 1rst year, in Paris (France) with Patrice Hameau" %}
		<div class="llinks">
			{% dbutton "files/Rapport_Stage_ProveNRun.pdf" {% report %} PDF "612 ko" fr %}
			{% dbutton "files/Diapos_Stage_ProveNRun.pdf" {% slides %} PDF "448 ko" fr %}
		</div>
		<br>
	</li>
	<li>{% lang
		"<strong>Résolution efficace de systèmes d’équations linéaires à coefficients entiers ou polynomiaux: étude et implémentation</strong>, juillet 2019, rapport de stage, 3ème année de licence, à Montpellier (France) avec Romain Lebreton et Pascal Giorgi."
		"<strong>Efficient resolution of linear systems with integer or polynomial coefficients: study and implementation (fr)</strong>, July 2019, internship report, bachelor’s 3rd year, in Montpellier (France) with Romain Lebreton and Pascal Giorgi" %}
		<div class="llinks">
			{% dbutton "files/Rapport_Stage_LIRMM.pdf" {% report %} PDF "424 ko" fr %}
			{% dbutton "files/Diapos_Stage_LIRMM.pdf" {% slides %} PDF "371 ko" fr %}
		</div>
		<br>
	</li>
	<li>{% lang
		"<strong>Résolution efficace de systèmes d’équations linéaires par développement en série</strong>, juin 2019, mémoire de maths-info, 3ème année de licence, encadré par Jérémy Berthomieu"
		"<strong>Efficient resolution of linear systems by series expansion (fr)</strong>, June 2019, research report, bachelor’s 3rd year, with Jérémy Berthomieu" %}
		<div class="llinks">
			{% dbutton "files/Rapport_Memoire.pdf" {% report %} PDF "334 ko" fr %}
			{% dbutton "files/Diapos_Memoire.pdf" {% slides %} PDF "339 ko" fr %}
		</div>
		<br>
	</li>
	<li>{% lang
		"<strong>Percolation dans un graphe plan</strong>, juin 2018, rapport de TIPE, 2ème année de classe préparatoire."
		"<strong>Percolation in a planar graph (fr)</strong>, June 2018, TIPE report, preparatory school 2nd year." %}
		<div class="llinks">
			{% dbutton "files/Rapport_TIPE_Percolation.pdf" {% report %} PDF "403 ko" fr %}
			{% dbutton "files/Diapos_TIPE_Percolation.pdf" {% slides %} PDF "491 ko" fr %}
		</div>
		<br>
	</li>
	<li>{% lang
		"<strong>Codes correcteurs d’erreurs: code de Hamming et Reed-Solomon</strong>, juin 2017, rapport de TIPE, 1ère année de classe préparatoire."
		"<strong>Error correction codes: Hamming and Reed-Solomon</strong>, June 2017, TIPE report, preparatory school 1rst year." %}
		<div class="llinks">
			{% dbutton "files/Rapport_TIPE_Codes_Correcteurs.pdf" {% report %} PDF "572 ko" fr %}
			{% dbutton "files/Diapos_TIPE_Codes_Correcteurs.pdf" {% slides %} PDF "358 ko" fr %}
		</div>
		<br>
	</li>
</ul>


{% h2 '<i class="far fa-copy"></i>' "Documents divers" "Other documents" %}
<ul class="content">
	<li>{% lang "Mon CV :" "My résumé:" %}
		<div class="llinks">{% CV %}</div>
	</li>
	<li>{% lang "Notes de cours de classe préparatoire :" "Preparatory school class notes:" %}
		<div class="llinks">
			{% dbutton "files/Cours_Maths_MP.pdf" "{% lang "Cours maths MP" "2nd year math (fr)" %}" PDF "764 ko" fr %}
			{% dbutton "files/Cours_Physique_Chimie_MP.pdf" "{% lang "Cours physique MP" "2nd year physics (fr)" %}" PDF "762 ko" fr %}
			{% dbutton "files/Cours_Maths_MPSI.pdf" "{% lang "Cours maths MPSI" "1rst year math (fr)" %}" PDF "1.1 Mo" fr %}
			{% dbutton "files/Cours_Physique_Chimie_MPSI.pdf" "{% lang "Cours physique MPSI" "1rst year physics (fr)" %}" PDF "983 ko" fr %}
		</div>
	</li>
</ul>

{% endatlabel %}
