{% include includes/defs.html %}
{% def name fichiers %}
{% def title {% lang Fichiers Files %} %}

{% include includes/base.html %}

{% atlabel main %}

{% def filedesc(title_arg, type_arg, date_arg, buttons)
	<li>
		<div class="title">title_arg</div>
		<div class="type">type_arg</div>
		<div class="date">date_arg</div>
		<div class="llinks">buttons</div>
	</li>
%}

{% def filedesc(title_arg, type_arg, date_arg, extra, buttons)
	<li>
		<div class="title">title_arg</div>
		<div class="type">type_arg</div>
		<div class="date">date_arg</div>
		extra
		<div class="llinks">buttons</div>
	</li>
%}

{% include includes/papers.html %}

{% h2 '<i class="fas fa-coffee"></i>' "Recherche non-publiée" "Unpublished works" %}
<ul class="content filelist">
	{% filedesc
		"{% lang
			"Définition de raffinement contextuel pour des machines à capacités (en)"
			"Defining contextual refinement for capability machines" %}"
		"{% lang "Rapport de stage M2, encadré par Lars Birkedal" "Internship Report M2, supevised by Lars Birkedal" %}"
		"{% lang "Mars 2023" "March 2023" %}"
		'<a class="collapsible folded">{% lang Résumé Abstract %}</a>
		<div class="content abstract folded">
			Contextual refinement is a useful notion to relate two open programs x and y by saying
			that for all contexts C, any observable behavior of C[x] is also seen in C[y]. As such it
			offers a strong relation based only on the operational semantics of closed programs. I
			present here a definition of contextual refinement for capability machines, a type of CPU
			which uses special hardware checks to enforce safety constraints on memory accesses. I
			explain the challenges of porting refinement to low-level programs, show some results
			obtained by combining refinement with capability safety, and explore how refinement can
			be proven using a logical binary relation.</div>'
		'{% dbutton "files/Internship_Report_Logsem.pdf" {% report_en %} PDF en %}
			{% dbutton "files/Slides_Logsem.pdf" {% slides_en %} PDF en %}
			{% fancybutton '<i class="fab fa-github"></i>'
					'https://github.com/logsem/cerise/tree/dorian/contextual-refinement'
					'{% lang "Preuves Coq" "Coq proofs" %}'
					'Github logsem/cerise'
					' hreflang="en"'
		%}'
	%}

	{% filedesc
		"{% lang 'Développement d’une ALU multiprécision (en)' 'Developing a multiprécision ALU' %}"
		"{% lang "Rapport de stage M1, encadré par Carl Seger" "Internship Report M1, supevised by Carl Seger" %}"
		"{% lang "Juillet 2021" "July 2021" %}"
		'{% dbutton "files/Diapos_Stage_Octopi.pdf" {% slides_en %} PDF en %}'
	%}

	{% filedesc
		"{% lang 'Développement d’une chaîne de boot sécurisée' 'Secure bootloader development' %}"
		"{% lang "Rapport de stage M1, encadré par Patrice Hameau" "Internship Report M1, supevised by Patrice Hameau" %}"
		"{% lang "Juillet 2020" "July 2020" %}"
		'{% dbutton "files/Rapport_Stage_ProveNRun.pdf" {% report %} PDF fr %}
		{% dbutton "files/Diapos_Stage_ProveNRun.pdf" {% slides %} PDF fr %}'
	%}

	{% filedesc
		"{% lang
			"Résolution efficace de systèmes d’équations linéaires à coefficients entiers ou polynomiaux : étude et implémentation"
			"Efficient resolution of linear systems with integer or polynomial coefficients: study and implementation (fr)" %}"
		"{% lang "Rapport de stage L3, encadré par Romain Lebreton et Pascal Giorgi" "Internship Report L3, supevised by Romain Lebreton and Pascal Giorgi" %}"
		"{% lang "Juillet 2019" "July 2019" %}"
		'{% dbutton "files/Rapport_Stage_LIRMM.pdf" {% report %} PDF fr %}
		{% dbutton "files/Diapos_Stage_LIRMM.pdf" {% slides %} PDF fr %}'
	%}

	{% filedesc
		"{% lang
				"Résolution efficace de systèmes d’équations linéaires par développement en série"
				"Efficient resolution of linear systems by series expansion (fr)" %}"
		"{% lang "Rapport de mémoire maths-info L3, encadré par Jérémy Berthomieu" "Research report L3, supervised by Jérémy Berthomieu" %}"
		"{% lang "Juin 2019" "June 2019" %}"
		'{% dbutton "files/Rapport_Memoire.pdf" {% report %} PDF fr %}
		{% dbutton "files/Diapos_Memoire.pdf" {% slides %} PDF fr %}'
	%}

	{% filedesc
		"{% lang "Percolation dans un graphe plan" "Percolation in a planar graph (fr)" %}"
		"{% lang "Rapport de TIPE MPI" "TIPE Report MPI" %}"
		"{% lang "Juin 2018" "June 2018" %}"
		'{% dbutton "files/Rapport_TIPE_Percolation.pdf" {% report %} PDF fr %}
		{% dbutton "files/Diapos_TIPE_Percolation.pdf" {% slides %} PDF fr %}'
	%}

	{% filedesc
		"{% lang "Codes correcteurs d’erreurs : code de Hamming et Reed-Solomon" "Error correction codes: Hamming and Reed-Solomon" %}"
		"{% lang "Rapport de TIPE MPSI" "TIPE Report MPSI" %}"
		"{% lang "Juin 2017" "June 2017" %}"
		'{% dbutton "files/Rapport_TIPE_Codes_Correcteurs.pdf" {% report %} PDF fr %}
		{% dbutton "files/Diapos_TIPE_Codes_Correcteurs.pdf" {% slides %} PDF fr %}'
	%}
</ul>

{% h2 '<i class="far fa-copy"></i>' "Documents divers" "Other documents" %}
<ul class="content filelist">
	<li>
		<div class="title">{% lang "Mon CV :" "My résumé:" %}</div>
		<div class="llinks">{% CV %}</div>
	</li>

	{% filedesc
		"{% lang "Notes de cours de classe préparatoire :" "Preparatory school class notes:" %}"
		"{% lang "MPI - 2ème année" "MPI - second year" %}"
		2018
		'{% dbutton "files/Cours_Maths_MP.pdf" "{% lang "Cours maths MP" "2nd year math (fr)" %}" PDF fr %}
		{% dbutton "files/Cours_Physique_Chimie_MP.pdf" "{% lang "Cours physique MP" "2nd year physics (fr)" %}" PDF fr %}'
	%}

	{% filedesc
		"{% lang "Notes de cours de classe préparatoire :" "Preparatory school class notes:" %}"
		"{% lang "MPSI - 1ère année" "MPSi - first year" %}"
		2017
		'{% dbutton "files/Cours_Maths_MPSI.pdf" "{% lang "Cours maths MPSI" "1rst year math (fr)" %}" PDF fr %}
		{% dbutton "files/Cours_Physique_Chimie_MPSI.pdf" "{% lang "Cours physique MPSI" "1rst year physics (fr)" %}" PDF fr %}'
	%}
</ul>

{% endatlabel %}
