{% strip %}
{% replace à &agrave; %}
{% replace À &Agrave; %}
{% replace è &egrave; %}
{% replace é &eacute; %}
{% replace ç &ccedil; %}
{% replace É &Eacute; %}
{% replace ê &ecirc; %}
{% replace û &ucirc; %}
{% replace â &acirc; %}
{% replace ô &ocirc; %}
{% replace î &icirc; %}
{% replace "’" &#39; %}
{% if def LANG %}
	{% if {% LANG %} == FR %}
		{% replace -r "\ ([:?;!])" "&nbsp;\1" %}
	{% endif %}
{% endif %}
{% if def RELEASE %}
	{% replace -r "\n+" "\n" %}
	{% replace -r "[ \t]+" " " %}
	{% replace -r "<!\\-\\-.*?\\-\\->" "" %}
{% endif %}
