{% include includes/defs.html %}
{% def name index %}

{% include includes/base.html %}

{% atlabel main %}
<div class="row">
	<div class="portrait">
		<div class="img"><img src="imgs/profil.png" alt="Photo"></div>
		<div class="name">Dorian Lesbre</div>
		{% if {% LANG %} == FR %}
		<div class="desc">Doctorant en informatique</div>
		<div class="desc"><a class="link" href="https://binsec.github.io/" hreflang="en">Équipe BINSEC</a></div>
		<div class="desc"><a class="link" href="https://www.cea.fr/paris-saclay/Pages/Accueil.aspx">CEA LIST, Paris-Saclay</a></div>
		<div class="desc">Ancien élève de l’<a class="link" href="https://www.ens.psl.eu">ENS Ulm</a></div>
		{% else %}
		<div class="desc">PhD. Student in Computer Science</div>
		<div class="desc"><a class="link" href="https://binsec.github.io/" hreflang="en">BINSEC Team</a></div>
		<div class="desc"><a class="link" href="https://www.cea.fr/paris-saclay/Pages/Accueil.aspx">CEA LIST, Paris-Saclay</a></div>
		<div class="desc">Former student of <a class="link" href="https://www.ens.psl.eu/en">ENS Ulm</a></div>
		{% endif %}
	</div>
	<div class="column">
		<div class="links">
			{% linkbutton "https://github.com/dlesbre" "fab fa-github" 'Github' en %}
			{% linkbutton "https://orcid.org/0000-0002-4328-6753" "fab fa-orcid" 'ORCID' en %}
			{% linkbutton "https://www.linkedin.com/in/dorian-lesbre-78a002122" "fab fa-linkedin" 'Linkedin' {% lang %} %}
		</div>
		<div class="links">
			{% linkbutton "https://git.eleves.ens.fr/dlesbre" "fab fa-gitlab" 'ENS' en %}
			{% linkbutton "https://gitlab.mpi-sws.org/dlesbre" "fab fa-gitlab" 'MPI' en %}
			{% linkbutton "https://git.frama-c.com/dlesbre" "fab fa-gitlab" 'Frama-C' en %}
		</div>
		<div class="links">{% CV %}</div>

		<h2><i class="fa fa-at"></i> Contact</h2>
		<div class="contactsheet">
			<dl>
				<dt><i class="far fa-envelope"></i></dt>
				<dd>
					<strong>{% lang "pro :" "work:" %}</strong> dorian.lesbre{%at%}cea.fr<br>
					<strong>{% lang "perso :" "personal:" %}</strong> {%email%}
				</dd>
				<dt><i class="fa fa-key"></i></dt>
				<dd><a class="link" href="files/Dorian_Lesbre_public.pgp" download>{% lang "Clé publique GPG" "GPG public key" %}</a><br>
					<a class="link" href="files/Dorian_Lesbre_public.pub" download>{% lang "Clé publique SSH" "SSH public key" %}</a></dd>
			</dl>
		</div>
	</div>
</div>

<div class="smaller">
{% h2 '<i class="fa fa-user"></i>' "Qui suis-je ?" "About me"%}

{% if {% LANG %} == FR %}
	<div class="content">
		<p>
			Je suis étudiant en doctorat à
			l’<a class="link" href="https://binsec.github.io/" hreflang="en">équipe BINSEC</a>,
			au centre NanoINNOV du
			<a class="link" href="https://www.cea.fr/paris-saclay/Pages/Accueil.aspx">CEA Paris-Saclay</a>.
			Je travaille sur l'interprétation abstraite par transformation SSA. Mon encadrant
			de thèse est <a class="link" href="https://binsec.github.io/people/lemerre.html">Matthieu Lemerre</a>.
		</p>

		<p>Je m’intéresse notamment à la vérification et l’informatique pratique bas niveau :
			méthodes formelles, interprétation abstraite, système de types, Coq, systèmes d’exploitation, compilation,
			circuits, programmation fonctionnelle et d’autres. En dehors de l’informatique, je m’intéresse
			aussi aux mathématiques et à la physique.</p>

		<p>J’aime aussi programmer dans mon temps libre, vous trouverez sur la page
			<a class="link internal" href="{% langurl logiciels.html %}">logiciels</a> mes projets
			personnels comme <a class="link external" href="https://github.com/dlesbre/bibtex-autocomplete">bibtex autocomplete&nbsp;<i class="fab fa-github"></i></a>
			ou mes solution de l’<a class="link external" href="https://github.com/dlesbre/advent-of-code">advent of code&nbsp;<i class="fab fa-github"></i></a>.
		</p>

		<p>Hors du domaine scolaire, j’aime bien faire des sports d’extérieur comme l’escalade, la voile, la randonnée
			et le ski. J’aime bien lire, notamment de la SF et des romans policiers. Je m’occupe également en jouant à des jeux de société et des jeux vidéos.</p>
	</div>
{% else %}
	<div class="content">
		<p>
			I’m a PhD student at the
			<a class="link" href="https://binsec.github.io/" hreflang="en">BINSEC Team</a>,
			working from NanoINNOV at
			<a class="link" href="https://www.cea.fr/paris-saclay/Pages/Accueil.aspx">CEA Paris-Saclay</a>.
			My PhD subject is centered around SSA translation by abstract interpretation.
			I work under the supervision of
			<a class="link" href="https://binsec.github.io/people/lemerre.html">Matthieu Lemerre</a>.
		</p>
		<p>My research interests focus on verification and low-level systems:
			formal methods, abstract interpretation, type systems, Coq, operating systems, compilers, hardware, functionnal programming and more.
			Besides computer science, I also enjoy mathematics and physics.</p>
		<p>I like to code in my free time. You can find my personal projects,
			such as <a class="link external" href="https://github.com/dlesbre/bibtex-autocomplete">bibtex autocomplete&nbsp;<i class="fab fa-github"></i></a>
			or my solutions for <a class="link external" href="https://github.com/dlesbre/advent-of-code">advent of code&nbsp;<i class="fab fa-github"></i></a>
			on the <a class="link internal" href="{% langurl logiciels.html %}">software</a> page.
		</p>
		<p>My hobbies include outdoor sports such as rock climbing, sailing, hiking and skiing.
			I also enjoy reading, especially sci-fi and detective stories.
			You can also find me playing board games and video games</p>
	</div>
{% endif %}

{% include includes/papers.html %}

{% h2 '<i class="fa fa-link"></i>' "Recommandations" "Recommendations" %}

<div class="content">
	<p>
		{% lang
			"Sans ordre particulier, voici quelques liens allant d'outils que
			j’utilise régulièrement pour le travail, à des comics et jeux que
			j’apprécie beaucoup."
			"In no particular order, here are a few links ranging from useful software
			 to some fun games and comics." %}
	</p>

	{% h3 '<i class="fa fa-desktop"></i>' Logiciels Software %}
	<ul class="content">
		<li><a class="link external" href="https://keepassxc.org/" hreflang="en">KeePassXC</a> {% lang
			"(en) est un gestionnaire de mot de passe, il permet d’utiliser des mots de passe sécurisés sans risque d’oubli."
			"is a password manager. It allows you to use very secure passwords without fear of forgetting them."
		%}</li>
		<li><a class="link external" href="https://obsidian.md/" hreflang="en">Obsidian</a> {% lang
			"(en) est une application de prise de notes simple (à base de fichiers markdown)
			et très riche grâce à un bel écosystème de greffons."
			"is an note-taking app that is both simple (based on markdown files)
			and very customizable thanks to a large plugin ecosystem."
		%}</li>
		<li><a class="link external" href="https://typst.app/" hreflang="en">Typst</a> {% lang
			"(en) est une alternative a LaTeX assez complète qui adresse bon nombre de mes frustration avec TeX."
			"is a interesting alternative to LaTeX which fixes a good chunk of what I find frustrating with TeX."
		%}</li>
		<li><a class="link external" href="https://godbolt.org/" hreflang="en">Godbolt</a> {% lang
				"(en) site web permettant de compiler des petits programmes et d'afficher l'assembleur généré.
				Je trouve la visualisation de diff de codes particulièrement utiles pour voir l'effet d'un petit changement
				dans la source sur le code généré."
				"website that can compile small programs and show generated assembly. I find
				the ability to show assembly diff between two similar programs very helpful. It allows to quickly
				see how small changes affect the generated code."
			%} </li>
		<li><a class="link external" href="https://syncthing.net/" hreflang="en">Syncthing</a> {% lang
			"(en) est un très bon outil de synchronisation de fichiers entre plusieurs appareils."
			"is a great, privacy respecting file synchronisation tool."
		%}</li>
		<li><a class="link external" href="https://sioyek.info/" hreflang="en">Sioyek</a> {% lang
			"(en) est un lecteur de PDF très adapté à la lecture de publications scientifiques."
			"is a PDF reader well suited to reading scientific papers."
		%}</li>
		<li><a class="link external" href="https://www.connectedpapers.com/" hreflang="en">Connected papers</a> {% lang
			"(en) site web affichant les citations entre publications scientifiques sous forme de graphe. Très pratique pour l'exploration bibliographique"
			"website displaying links between scientific publications as a graph. Very handy for bibliographic exploration."
		%} </li>
	</ul>

	{% h3 '<i class="fa fa-book-open"></i>' Webcomics Webcomics %}
	<ul class="content">
		<li><a class="link external" href="https://xkcd.com/" hreflang="en">XKCD</a> {% lang
			"(en) un webcomic sur la physique, la science et plein d’autre choses"
			"a webcomic about physics, science and other stuff" %}</li>
		<li><a class="link external" href="https://www.gocomics.com/garfield/" hreflang="en">Garfield</a> {% lang
			"(en) un webcomic au sujet d’un (adorable) gros chat orange"
			"a webcomic about an adorable fat orange cat" %}</li>
	</ul>

	{% h3 '<i class="fa fa-gamepad"></i>' "Jeux vidéos" "Video games" %}
	<ul class="content">
		<li><a class="link external" href="https://www.kerbalspaceprogram.com/" hreflang="en">Kerbal Space Program</a> {% lang
			"un jeu pour les fans de physique et d’espace ! Il permet de concevoir et lancer ses propres fusées."
			"a game for space and physics fans! It allows you to design and launch your own rockets."
		%}</li>
		<li><a class="link external" href="https://store.steampowered.com/app/753640/Outer_Wilds/">Outer Wilds</a> {% lang
			"Un jeu d'exploration et de découverte dans un système solaire miniature, il vous embarquera pour un voyage inoubliable."
			"an exploration game set in a miniature solar system, this gem will take you on a memorable journey."
		%}</li>
		<li><a class="link external" href="https://obradinn.com/" hreflang="en">Return of the Obra Dinn</a> {% lang
			"court jeu de détective qui fait confiance au joueur pour trouver des indices bien dissimulés et faire des déductions difficiles."
			"short detective game which trusts players to find well hidden clues and make complex deductions"
		%}</li>
		<li><a class="link external" href="https://www.factorio.com/" hreflang="en">Factorio</a> {% lang
			"derrière ses graphismes peu attirants, factorio cache un jeu d’optimisation et de logistique très prenant et satisfaisant."
			"behind some unattractive graphics, factorio hides a very engaging and satisfying game about optimisation and logistics"
		%}</li>

	</ul>



</div>
</div>
{% endatlabel %}
