{% include defs.html %}
{% def name logiciels %}
{% def title {% lang Logiciels Software %} %}

{% include base.html %}

{% atlabel main %}

{% h2 '<i class="fas fa-laptop-code"></i>' "Logiciels" "Software" %}

<div class="links">
	{% linkbutton "https://github.com/dlesbre" '<i class="fab fa-github"></i> Github' en %}
	{% linkbutton "https://git.eleves.ens.fr/dlesbre" '<i class="fab fa-gitlab"></i> ENS Gitlab' en %}
	{% linkbutton "https://gitlab.mpi-sws.org/dlesbre" '<i class="fab fa-gitlab"></i> MPI Gitlab' en %}
	{% linkbutton "https://git.frama-c.com/dlesbre" '<i class="fab fa-gitlab"></i> Frama-C Gitlab' en %}
</div>

<div class="content">
  <table>
    <thead>
      <tr>
        <th>{% lang Programme Program %}</th>
        <th>{% lang Langage Language %}</th>
        <th>{% lang Description Descriptions %}</th>
        <th>{% lang Licence License %}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a class="link" href="https://pypi.org/project/bibtexautocomplete/">Bibtex autocomplete</a></td>
        <td>Python</td>
        <td>{% lang
          "Script console pour compléter des entrées bibtex à partir de crossref et autres"
          "Console script to complete bibtex entries by polling crossref and other sources"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/site-interludes">{% lang "Site des interludes" "Interludes website" %}</a></td>
        <td>Python (django)</td>
        <td>{% lang
          "Site web pour un événement étudiant, gérant inscriptions, planning et répartitions d'activités"
          "Website for a student event, handles registrations, event planning and activities"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://git.eleves.ens.fr/klub-dev-ens/serveur-photos">{% lang "Serveur photos" "Photo server" %}</a></td>
        <td>Python (django)</td>
        <td>{% lang
          "Site web pour le partage de photos des événements étudiants"
          "Photo sharing website for student events"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/coq-prettier-makefile">Coq prettier makefile</a></td>
        <td>OCaml</td>
        <td>{% lang
          "Petit script qui améliore l'affichage des makefiles Coq"
          "Small script to improve the display of Coq makefiles"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/bsd-3-clause/">BSD 3-Clause</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/tex">Tex</a></td>
        <td>LaTeX, Python</td>
        <td>{% lang
          "Templates LaTeX, fichiers style beamer et script de compilation"
          "LaTeX templates, beamer style files and compile script"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/website">{% lang "Site personnel" "Personal website" %}</a></td>
        <td>HTML, CSS, JS</td>
        <td>{% lang
          "Ce site web"
          "This website"
          %}</td>
        <td></td>
      </tr>
    </tbody>
    <thead><tr><th><br></th><th></th><th></th><th></th></tr></thead>
    <thead>
      <tr>
        <th>{% lang Recherche Research %}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a class="link" href="https://github.com/logsem/cerise">Cerise</a></td>
        <td>Coq</td>
        <td>{% lang
          "Formalisation en coq d'une machine à capabilités"
          "Coq program logic for a capability machine"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/bsd-3-clause/">BSD 3-Clause</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://binsec.github.io/">Binsec</a></td>
        <td>OCaml</td>
        <td>{% lang
          "Outils pour l'analyse et la vérification de code au niveau binaire"
          "Toolset for binary-level code analysis and verification"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/lgpl-2.1/">GNU LGPL 2.1</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/cephalopode">{% lang Céphalopode Cephalopode %}</a></td>
        <td>FL, Bifröst</td>
        <td>{% lang
          "Processeur IoT pour la programmation fonctionnelle avec un ALU multi-precision"
          "IoT processor for functional programming with an arbitrary-precision ALU"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/apache-2.0/">Apache 2.0</a></td>
      </tr>
    </tbody>
    <thead><tr><th><br></th><th></th><th></th><th></th></tr></thead>
    <thead>
      <tr>
        <th>Contributions</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a class="link" href="https://gitlab.mpi-sws.org/iris/stdpp/">std++</a></td>
        <td>Coq</td>
        <td>{% lang
          "Extension de la librairie standard de Coq"
          "An extended standard library for Coq"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/bsd-3-clause/">BSD 3-Clause</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/coq-community/vscoq">VsCoq</a></td>
        <td>JavaScript</td>
        <td>{% lang
          "Extension VS Code pour le language Coq"
          "Extension that adds Coq support to VS Code"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
    </tbody>
    <thead><tr><th><br></th><th></th><th></th><th></th></tr></thead>
    <thead>
      <tr>
        <th>{% lang Divers/Archive Misc/Archive %}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/kotlin-compiler">pkotlinc</a></td>
        <td>OCaml</td>
        <td>{% lang
          "Compilateur d'un fragment de kotlin vers l'assembleur x86"
          "Compileur from a subset of kotlin to x86 assembly"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://git.eleves.ens.fr/hackens/CDF2019">CDF2019</a></td>
        <td>C++</td>
        <td>{% lang
          "Contrôle d’un robot (Arduino/RaspberryPi), coupe de France de robotique 2019"
          "Robot control program (Arduino/RaspberryPi), France’s 2019 Robotics Cup"
          %}</td>
        <td></td>
      </tr>
      <tr>
        <td>GrOS</td>
        <td>C, {% lang assembleur assembly %}</td>
        <td>{% lang
          "OS simplissimme (drivers clavier/console/disque dur ATA, scheduler)"
          "Minimalistic OS with basic functions (keyboard/screen/ATA hard drive drivers, scheduler)"
          %}</td>
        <td></td>
      </tr>
      <tr>
        <td>{% lang "Mini processeur" "Tiny processor" %}</td>
        <td>OCaml, MiniJazz</td>
        <td>{% lang
          "Processeur programmable simpliste et simulateur associé"
          "Simple programmable processor and simulator"
          %}</td>
        <td></td>
      </tr>
      <tr>
        <td>SecBoot</td>
        <td>C</td>
        <td>{% lang
          "Bootloader sécurisé et algorithmes cryptographiques (AES, ECC, SHA)"
          "Secure bootloader and cryptographic algorithms (AES, ECC, SHA)"
          %}</td>
        <td></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/csv2mdtable">csv2mdtable</a></td>
        <td>C++</td>
        <td>{% lang
          "Script transformant un fichier CSV en table markdown"
          "Small script to translate a CSV file into a markdown table"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/mit/">MIT</a></td>
      </tr>
      <tr>
        <td><a class="link" href="https://github.com/dlesbre/vossii-fl">vossii-fl</a></td>
        <td>JavaScript</td>
        <td>{% lang
          "Support langage de Voss II (FL et Bifröst) dans VS Code"
          "Voss II (FL and Bifröst) language support in VS Code"
          %}</td>
        <td><a class="link" href="https://choosealicense.com/licenses/apache-2.0/">Apache 2.0</a></td>
      </tr>
    </tbody>
  </table>
</div>

{% endatlabel %}
