{% include defs.html %}
{% include formatter.html %}
{% def target {% URL %}/{% defaultlang %}/index.html %}
<!DOCTYPE html>
<html lang="{% defaultlang %}">
	<head>
		<title>Dorian Lesbre</title>
		<base href="{% URL %}/">
		<link rel="canonical" href="{% target %}" hreflang="{% defaultlang %}">
		<meta name="robots" content="noindex">
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="0; url={% target %}">
		<meta name="keywords" content="Lesbre Dorian dlesbre dorianlesbre">
		<meta name="author" content="Dorian Lesbre">
		<meta name="description" content="Site personnel de Dorian Lesbre">
		<!-- Facebook tags -->
		<meta name="og:title" content="Dorian Lesbre">
		<meta name="og:type" content="website">
		<meta name="og:url" content="{% target %}">
		<meta name="og:image" content="{% URL %}/imgs/icon.png">
		<meta name="og:description" content="Site personnel de Dorian Lesbre">
		<meta name="og:locale" content="fr">
	</head>
	<body>
		<h1>Dorian Lesbre</h1>
		Aller sur le <a class="internal" href="fr/index.html" hreflang="fr">site en français</a>.<br>
		Go to the <a class="internal" href="en/index.html" hreflang="en">english website</a>.
	</body>
</html>
