---
layout: html-escapes
---
{%- assign lang = page.lang | default: site.lang -%}
{%- assign pagename = page.url | strip_extension | strip_prefix: "/" -%}
{%- assign extension = page.url | extension -%}
{%- if extension  == "fr" or extension  == "en" -%}
	{%- assign pagename = pagename | strip_extension -%}
{%- endif -%}
<!doctype html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% if page.title %}{{ page.title }} | {% endif %}Dorian Lesbre</title>
		<base href="{{ site.url }}{{ site.baseurl }}"/>

		<meta name="description" content="{{ page.description | default: site.description }}"/>
		<meta name="keywords" content="Lesbre Dorian dlesbre dorianlesbre"/>
		<meta name="author" content="Dorian Lesbre"/>
		<meta name="copyright" content="Dorian Lesbre"/>
		<meta name="language" content="{{ lang }}"/>

		<!-- Facebook tags -->
		<meta name="og:title" content="Dorian Lesbre"/>
		<meta name="og:type" content="website"/>
		<meta name="og:url" content="{{ page.url | absolute_url }}"/>
		<meta name="og:image" content="/imgs/icon.png"/>
		<meta name="og:description" content="{{ page.description | default: site.description }}"/>
		<meta name="og:locale" content="{{ lang }}"/>

		<!-- Links -->
	  {%- assign html = page.url | has_suffix: ".html" -%}
  	{%- assign html_fr = page.url | has_suffix: ".html.fr" -%}
  	{%- assign html_en = page.url | has_suffix: ".html.en" -%}
  	{%- assign normalized = page.url -%}
  	{%- if html_en or html_fr -%}
    	{%- assign normalized = page.url | strip_suffix: ".fr" | strip_suffix: ".en" -%}
  	{%- endif -%}
		{%- assign ends_with_index = normalized | has_suffix: "/index.html" -%}
		{%- if ends_with_index -%}
			<link rel="canonical" type="text/html" href="{{ normalized | strip_suffix: 'index.html' | absolute_url }}"/>
  	{%- else -%}
			<link rel="canonical" type="text/html" href="{{ normalized | absolute_url }}"/>
		{%- endif -%}
		{%- if html_en -%}
			<link rel="alternate" type="text/html" href="{{ normalized | absolute_url }}.fr" hreflang="fr"/>
		{%- elsif html_fr -%}
			<link rel="alternate" type="text/html" href="{{ normalized | absolute_url }}.en" hreflang="en"/>
		{%- endif -%}

		<link rel="icon" type="image/png" href="{{ page.icon | default:'favicon.ico' | relative_url }}"/>
		<link rel="stylesheet" type="text/css" href="{% include url.txt url='css/style.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% include url.txt url='css/font-awesome-all.css' %}"/>
		{%- if content contains '<span class="katex">' -%}
			<link rel="stylesheet" type="text/css" href="{% include url.txt url='css/katex.css' %}"/>
		{%- endif -%}

		<script src="{% include url.txt url='js/script.js' %}"></script>
	</head>
	<body>
		<header>
			<h1><a class="internal" href="{% include url.txt url='/index.html' %}">Dorian Lesbre</a></h1>

			<div class="hbuttons">
				{%- if lang == "fr" -%}
				{%- assign alt = pagename | append: '.html.en' -%}
				<a class="alternate" title="English version" href="{% include url.txt url=alt %}" hreflang="en">
					<img src="{% include url.txt url='imgs/UK_flag.svg' %}" alt="EN">
				</a>
				<a class="themetoggle" onclick="toggle_theme();" title="Thème clair/sombre">{% include icon.html icon="palette" %}</a>
				{%- else -%}
				{%- assign alt = pagename | append: '.html.fr' -%}
				<a class="alternate" title="Version française" href="{% include url.txt url=alt %}" hreflang="fr">
					<img src="{% include url.txt url='imgs/FR_flag.svg' %}" alt="FR">
				</a>
				<a class="themetoggle" onclick="toggle_theme();" title="Dark/light theme">{% include icon.html icon="palette" %}</a>
				{%- endif -%}
			</div>
		</header>

		<nav id="site">
			{%- if lang == "fr" -%}
				{%- include navbutton.html title='Acceuil' url='index' icon="house" pagename=pagename -%}
				{%- include navbutton.html url='research/index' text='Recherche' pagename=pagename -%}
				{%- include navbutton.html url='software/index' text='Logiciels' pagename=pagename -%}
				{%- include navbutton.html url='files' text='Fichiers' pagename=pagename -%}
			{%- else -%}
				{%- include navbutton.html title='Home' url='index' icon="house" pagename=pagename -%}
				{%- include navbutton.html url='research/index' text='Research' pagename=pagename -%}
				{%- include navbutton.html url='software/index' text='Software' pagename=pagename -%}
				{%- include navbutton.html url='files' text='Files' pagename=pagename -%}
			{%- endif -%}
		</nav>

		{% include breadcrumbs.html %}

		<main>
			{%- if page.lang-disclaimer %}
				<div class="callout">
					{% include icon.html icon='warning' %} &nbsp;
					{% if lang == "fr" %}
						Cette page n’est disponible qu’en anglais.
					{% else %}
						This page is only available in french.
					{% endif %}
				</div>
			{%- endif -%}

			{{ content | replace: 'id="-', 'id="' }}
		</main>

		<footer>
			{%- if lang == "fr" -%}
				<p>
					<!-- Source&nbsp;sur&nbsp;<a class="link external" href="https://github.com/Lesbre/website/" hreflang="en">github</a>.<br> -->
				&copy; {{ site.time | date: '%Y' }} Dorian Lesbre<br>
				<a class="link" href="{% include url.txt url='legal.html.fr' %}">Mentions légales</a></p>
				<p>Dernière mise à jour : {{ site.time | date: '%Y-%m-%d' }}</p>
			{%- else -%}
				<p>
					<!-- Source&nbsp;on&nbsp;<a class="link external" href="https://github.com/Lesbre/website/" hreflang="en">github</a>.<br> -->
				&copy; {{ site.time | date: '%Y' }} Dorian Lesbre<br>
				<a class="link" href="{% include url.txt url='legal.html.en' %}">Legal disclaimer</a></p>
				<p>Last updated : {{ site.time | date: '%Y-%m-%d' }}</p>
			{%- endif -%}
		</footer>
	</body>
</html>
