// Table styling

@use "variables.scss" as *;

table {
	border-collapse: collapse;
	margin-bottom: 40px;
	td, th {
		text-align: left;
		border-top: 1px solid #aaa;
	}
}
tbody:last-child td {
	border-bottom: 1px solid #aaa;
}
tbody tr:nth-child(even) {background-color: $dark_body_bg}
tbody tr:nth-child(odd) {background-color: $dark_hover_bg}
.light-theme tbody tr:nth-child(even) {background-color: $light_body_bg}
.light-theme tbody tr:nth-child(odd) {background-color: $light_hover_bg}
tr > * {
	padding: 3px 5px;
}
