// Timeline display

@use "variables.scss" as *;

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	margin: 0 150px;

	// Vertical ruler
	&::after {
		content: '';
		position: absolute;
		width: 4px;
		background-color: $dark_sep;
		top: 0;
		bottom: 0;
		left: 28px;
	}

	@media (max-width: 1000px) {
		margin: 0 40px;
	}
	@media (max-width: 600px) {
		margin: 0;

		&::after {
			left: 12px;
		}
	}
}

.light-theme .timeline::after {
	background-color: $light_sep;
}
.container {
	padding: 10px 40px;
	position: relative;
	width: calc(100% - 40px - 40px - 31px - 31px);
	left: 31px;

	// Circles
	&::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		left: -12px;
		background-color: $dark_bg_1;
		border: 4px solid $dark_sep;
		top: 15px;
		border-radius: 50%;
		z-index: 1;
	}

	// Arrows
	&::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 16px;
		width: 0;
		left: 20px;
		border: medium solid $dark_sep;
		border-width: 10px 10px 10px 0;
		border-color: transparent $dark_sep transparent transparent;
	}

	@media (max-width: 600px) {
		padding: 10px 20px;
		left: 14px;

		&::before {
			left: 10px;
		}
	}
}

.box {
	background-color: $dark_bg_1;
	padding: 10px;
	position: relative;
	top: -10px;
	border-radius: 20px;

	.desc {
		padding: 10px;
	}
}

.light-theme {
	.container {
		&::after {
			background-color: $light_bg_1;
			border: 4px solid $light_sep;
		}
		&::before {
			border: medium solid $light_sep;
			border-width: 10px 10px 10px 0;
			border-color: transparent $light_sep transparent transparent;
		}
	}

	.box {
		background-color: $light_bg_1;
	}
}
