// Common variables

$dark_bg_1: #4c4c7c;
$dark_bg_2: #26263c;
$dark_bg_3: #39395c;
$dark_fg: white;
$dark_sep: #eb811b;
$dark_hover: #f3b376;
$dark_visited: #9d540e;
$dark_code: #FFD787;

$light_bg_1: #d8c3a5;
$light_bg_2: #eae7dc;
$light_bg_3: #e2d7c3;
$light_fg: #222222;
$light_sep: #e85a4f;
$light_hover: #cd544b;
$light_code: #550000;
