:root {
	--color-bg: #fefefe;
	--color_bg_1: #4c4c7c;
	--color_bg_2: #26263c;
	--color_bg_3: #39395c;
	--color_sep: #eb811b;
	--link-hover: #f3b376;
	--pdf-red: #ff2222;
}

html, body {
	background-color:var(--color_bg_2);
	color: white;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	font-family: Arial, Roboto, Helvetica, sans-serif;
	align-items: center;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0 0 50px;
}

a {
	cursor: pointer;
	color: var(--color_sep);
}
a.link:hover {
	transition-property: font-style color;
	transition-duration: 0.5s;
	font-style: italic;
	color: var(--link-hover);
}

header {
	display: flex;
	background-color: var(--color_bg_1);
	width: calc(100% - 60px);
	padding: 0 20px 0 40px;
	border: 0;
}

header h1 {
	text-decoration: none;
	font-size: 80px;
	flex: 1;
	width: 100%;
}
header a {
	color: white;
	text-decoration: none;
}
header .hbuttons {
	justify-content: right;
	display: flex;
	align-items: flex-start;
	font-size: 30px;
	width: 100%;
	flex: 0;
}
.hbuttons a {
	padding: 10px;
	border-radius: 0 0 15px 15px;
}
.hbuttons a:hover {
	transition-property: background-color;
	transition-duration: 0.5s;
	background-color: var(--color_bg_3);
}
.hbuttons img {
	height: 25px;
}

nav {
	display: flex;
	align-items: right;
	justify-content: flex-end;
	background-color: var(--color_bg_1);
	margin: 0;
	padding: 0 20px;
	border-bottom: 4px solid var(--color_sep);
	width: calc(100% - 40px);
}

nav img {
	padding: 10px 5px 0;
	height: 30px;
}

nav a {
	color: white;
	font-size: 35px;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 15px 15px 0 0;
}

nav a:hover {
	transition-property: background-color;
	background-color: var(--color_bg_3);
	transition-duration: 0.5s;
}

nav a.current {
	background-color: var(--color_bg_2);
}

@media (min-width: 1200px) {
	header h1 {
		margin: 10px 0 -45px;
	}
}

@media (max-width: 1200px) {
	header h1 {
		margin: 10px 0;
	}
}

@media (max-width: 800px) {
	header h1 {
		font-size: 60px;
	}
	header .hbuttons {
		font-size: 20px;
	}
	.hbuttons img {
		height: 15px;
	}
}

@media (max-width: 600px) {
	header h1 {
		font-size: 40px;
	}
	nav a {
		font-size: 20px;
	}
	nav img {
		padding: 5px 0 0;
		height: 20px;
	}
}

.portrait {
	padding: 20px 80px;
	min-width: 350px;
	text-align: center;
}
.portrait .img {
	font-size: 80px;
}
.portrait .name {
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 5px;
}
.portrait .desc {
	font-size: 1.3em;
	font-weight: 300;
}
.portrait .school {
	padding-top: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.row {
	display: flex;
	place-content: center;
	width: 100%;
}

.column {
	width: calc(100% - 60px - 60px);
	margin: 10px 60px;
	padding-top: 20px;
	place-content: center;
}
@media (max-width: 1200px) {
	.portrait {
		min-width: 0;
		padding: 20px 10px
	}
	.row {
		flex-direction: column;
	}
	.column {
		margin: 10px 0px;
		width: 100%;
		padding: 0;
	}
}

.links {
	place-content: center;
	display: flex;
	margin: 10px;
}

a.linkbutton, a.downloadbutton {
	border-radius: 10px;
	margin: 5px;
	padding: 5px 10px;
	font-size: 1.3em;
	text-decoration: none;
}

a.linkbutton {
	border: 2px solid var(--color_sep);
}

a.downloadbutton {
	display: flex;
	border: 2px solid var(--pdf-red);
	color: var(--pdf-red);
}

a.linkbutton:hover, a.downloadbutton:hover {
	transition-property: background-color;
	background-color: var(--color_bg_3);
	transition-duration: 0.5s;
}

a.downloadbutton .icon {
	color: var(--pdf-red);
	vertical-align: middle;
	border-right: 2px solid var(--pdf-red);
	padding: 10px 10px 10px 5px;
	margin-right: 10px;
	font-size: 1em;
	align-self: center;
}

a.downloadbutton .info {
	color: var(--pdf-red);
	font-size: 0.9em;
}

a.downloadbutton .details {
	color: var(--pdf-red);
	font-size: 9pt;
}

dl {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 3fr;
}
dl dt {
	grid-column: 1 / span 1;
	justify-self: end;
	text-align: right;
	margin: 5px 10px;
	font-weight: bold;
	align-self: center;
}
dl dd {
	margin: 5px 5px;
	justify-self: start;
	text-align: left;
}


main {
  place-content: center;
	text-align: justify;
	padding: 20px 50px 50px;
	margin: 0 auto 0 auto;
	max-width: 1250px;
	min-height: calc(100vh - 380px); /* viewport-height - (header+footer+nav bar) */
}
@media (max-width: 600px) {
	main {
		padding: 20px 20px 50px;
	}
}
main h2 {
	padding-top: 10px;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: left;
	border-bottom: 2px solid var(--color_sep);
	border-image-source: linear-gradient(to right, var(--color_sep) 0%, var(--color_sep) 25%, transparent 100%);
	border-image-slice: 1;
}

strong {
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 80px); /* viewport width - padding */
	padding: 10px 40px;
	height: 60px;
	display: flex;
	background-color: var(--color_bg_1);
	border-top: 4px solid var(--color_sep);
	align-items: center;
}
@media (max-width: 600px) {
	footer {
		font-size: 9px;
		height: 80px;
	}
}

footer p {
	text-align: center;
	width: 100%;
}

/* ======== Timeline ======== */
.timeline {
  position: relative;
  max-width: 1200px;
	margin: 0 auto;
	margin: 0 150px;
}
@media (max-width: 1000px) {
	.timeline {
		margin: 0 40px;
	}
}
@media (max-width: 600px) {
	.timeline {
		margin: 0 20px;
	}
}
/* vertical ruler */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--color_sep);
  top: 0;
  bottom: 0;
  left: 28px;
}
.container {
  padding: 10px 40px;
  position: relative;
	width: calc(100%-40px-40px-31px-31px);
	left: 31px;
}
/* circles */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
	left: -12px;
  background-color: var(--color_bg_1);
  border: 4px solid var(--color_sep);
  top: 15px;
	border-radius: 50%;
	z-index: 1;
}
/* arrows */
.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 16px;
  width: 0;
  left: 20px;
  border: medium solid var(--color_sep);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--color_sep) transparent transparent;
}
.box {
	background-color: var(--color_bg_1);
	padding: 10px;
	position: relative;
	top: -10px;
	border-radius: 20px;
}
.box .title {
	font-weight: bold;
}
.box .date {
	font-style: italic;
}
.box .desc {
	padding: 10px;
}
.llinks {
	place-content: flex-start;
	display: flex;
	flex-flow: row wrap;
	margin: 5px;
	justify-content: left;
}

.grid {
	display: grid;
	justify-content: space-evenly;
	gap: 10px;
	padding: 10px;
	grid-template-columns: auto auto auto;
}

.grid > div {
  text-align: center;
  padding: 20px;
}
.grid img {
	height: 60px;
}